<div class="bottom_line">
    <div class="row">
        <div class="col-md-6">
            <p>Copyright © 2017. Design by <a href="https://themeforest.net/user/orangeidea">OrangeIdea</a>
            </p>
        </div>
        <div class="col-md-6">
            <nav aria-label="Footer Menu">
                <div class="menu-real-footer-menu-container">
                    <ul id="menu-real-footer-menu" class="real_footer-menu">
                        <li>
                            <a href="blog.html">The Blog</a>
                        </li>
                        <li>
                            <a href="contacts.html">Contacts</a>
                        </li>
                        <li>
                            <a href="about.html">About Our Company</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- .social-navigation -->
        </div>
    </div>
</div>