<div class="menu_holder">
  <div class="inner_holder">
    <div class="text-logo">
      <h3 class="logo_name">Gravity</h3>
      <p class="logo_description">ECommerce, Agency &amp; Presentation Theme</p>
    </div>
    <div class="call_extra"> <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> </div>
    <nav id="site-navigation" class="main-navigation" aria-label="Primary Menu">
      <div class="menu-primary-menu-container">
        <ul class="primary-menu">
          <li class="{{now_home}}"><a href="index.html">Home</a></li>
          <li class="{{now_about}}"><a href="about.html">About</a></li>
          <li class="{{now_services}}"><a href="service.html">Services</a></li>
          <li class="{{now_blog}}"><a href="blog.html">The Blog</a></li>
          <li class="menu-item-has-children {{now_shop}}"><a href="shop.html">Shop</a>
            <ul class="sub-menu">
              <li class="{{now_shop_gravity}}"><a href="shop.html">Gravity Store</a></li>
              <li class="{{now_shop_yourcart}}"><a href="cart.html">Your Cart</a></li>
              <li class="{{now_shop_checkout}}"><a href="checkout.html">Checkout</a></li>
              <li class="{{now_shop_myaccount}}"><a href="my-account.html">My account</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children {{now_portfolio}}"><a href="portfolio.html">Portfolio</a>
            <ul class="sub-menu">
              <li class="{{now_portfolio_1}}"><a href="portfolio.html">Style I</a></li>
              <li class="{{now_portfolio_2}}"><a href="portfolio-1.html">Style II</a></li>
              <li class="{{now_portfolio_3}}"><a href="portfolio-2.html">Style III</a></li>
              <li class="{{now_portfolio_4}}"><a href="portfolio-3.html">Style IV</a></li>
              <li class="{{now_portfolio_5}}"><a href="portfolio-4.html">Style V</a></li>
              <li class="{{now_portfolio_6}}"><a href="portfolio-5.html">Style VI</a></li>
            </ul>
          </li>
          <li class="{{now_contacts}}"><a href="contacts.html">Contacts</a></li>
        </ul>
      </div>
    </nav>
    <!-- .main-navigation -->
    <div class="menu_footer">
      <nav aria-label="Footer Menu">
        <div class="menu-social-menu-container">
          <ul class="footer-menu">
            <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </nav>
      <!-- .social-navigation -->
      
      <p>Copyright © 2017. Design by <a href="https://themeforest.net/user/orangeidea">OrangeIdea</a></p>
    </div>
  </div>
  <div class="extra_holder">
    <div class="inner_holder">
      <h3 class="text-center">Drop us a message</h3>
      <p class="text-center mb-5">You can use HTML and Shortcodes</p>
      <form method="post">
        <div class="row text-left">
          <div class="col-md-6">
            <input id="form-name" type="text" name="your-name" value="" size="40" placeholder="NAME" />
          </div>
          <div class="col-md-6">
            <input id="form-email" type="email" name="your-email" value="" size="40" placeholder="E-MAIL" />
          </div>
          <div class="col-md-12">
            <input id="form-subject" type="text" name="subject" value="" size="40" placeholder="SUBJECT" />
          </div>
          <div class="col-md-12">
            <textarea id="form-message" name="your-message" cols="5" rows="2" placeholder="MESSAGE"></textarea>
          </div>
          <div class="col-md-12">
            <p class="text-center mb-0">
              <input id="send-form" type="submit" value="SEND MESSAGE" />
            </p>
          </div>
        </div>
        <div class="wpcf7-response-output wpcf7-display-none"></div>
      </form>
    </div>
  </div>
</div>