<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>GRAVITY-E &#8211; E-commerce, Agency &amp; Presentation Theme</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/about.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>

</head>

<body class="woo_active standard_page dark_bg half_screen_fi have_featured_image">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder">
  	<a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a>
  </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>About Our Company</h1>
          We are a Awards Winning Digital Agency, founded in 2000. We offer a full range of capabilities and expertise in web
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon">
    <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a>
    <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span>
</div>

{% set now_about="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
  <main id="main" class="site-main">
      <div class="container">
          <div class="row about-1">
            <div class="col-md-6 offset-md-3">
                  <div class="about-1-1">
                      <h2 class="text-center"><strong>Team Of Web</strong> <span class="thin">Developers</span></h2>
                  </div>
                  <div class="oi_custom_heading_holder">
                    <div class="oi_vc_heading oi_border_position_center text-center">
                      <div class="oi_heading_border oi_border_position_center text-center"><span></span></div>
                      <p class="oi_icon_sub_titile">We bring a crafted and inspired approach to every project we work on, which is why our clients love us and why they keep coming back.</p>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row full_team">
            <div class="col-md-4">
              <div class="vc_team_member_holder">
                <div class="vc_team_member_image_holder">
                  <div class="inner_img_holder">
                  	<img width="700" height="900" src="../dist/images/img/m3.jpg" class="attachment-full img-responsive vc_team_member_image size-full img-responsive vc_team_member_image" alt="" />
                  </div>
                  <div class="oi_team_cont_holder">
                    <h6><strong>Jhon Doe</strong></h6>
                    I'm CEO
                    <div class="oi_icons">
                        <a class="oi_fb" target="_blank" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                        <a class="oi_tw" target="_blank" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                        <a target="_blank" class="oi_gplus" href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                        <a class="oi_in" target="_blank" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                        <a class="oi_mail" href="mailto:#"><i class="fa fa-envelope-o fa-fw"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="vc_team_member_holder">
                <div class="vc_team_member_image_holder">
                  <div class="inner_img_holder">
                  	<img width="700" height="900" src="../dist/images/img/m2.jpg" class="attachment-full img-responsive vc_team_member_image size-full img-responsive vc_team_member_image" alt=""/>
                  </div>
                  <div class="oi_team_cont_holder">
                    <h6><strong>Katerina Nolan</strong></h6>
                    I'm Web Designer
                    <div class="oi_icons">
                        <a class="oi_tw" target="_blank" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                        <a class="oi_mail" href="mailto:#"><i class="fa fa-envelope-o fa-fw"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="vc_team_member_holder">
                <div class="vc_team_member_image_holder">
                  <div class="inner_img_holder">
                  	<img width="700" height="900" src="../dist/images/img/m1.jpg" class="attachment-full img-responsive vc_team_member_image size-full img-responsive vc_team_member_image" alt=""/>
                  </div>
                  <div class="oi_team_cont_holder">
                    <h6><strong>Jhon Doe</strong></h6>
                    My Position In Company
                    <div class="oi_icons">
                        <a class="oi_fb" target="_blank" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                        <a class="oi_tw" target="_blank" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                        <a target="_blank" class="oi_gplus" href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                        <a class="oi_in" target="_blank" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                        <a class="oi_mail" href="mailto:#"><i class="fa fa-envelope-o fa-fw"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row-full-width clearfix"></div>
          <div class="row about-2">
            <div class="col-md-6">
              <div class="mr-60">
              	<nav class="nav nav-tabs" id="myTab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true"><i class="li_fire"></i><span>APPROACH</span></a>
                  <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false"><i class="li_star"></i><span>METHODS</span></a>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                  	<p>Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere condimentum. Nullam justo eros, pellentesque a metus non, mattis volutpat libero. Praesent ornare felis ante, sit amet porta felis pellentesque fermentum. Donec eget mollis velit. In quis lacus ligula.</p>
                   	<p>Vivamus viverra, ligula non tincidunt pulvinar, augue est sagittis leo, id feugiat enim lorem quis nisl. Quisque ac arcu egestas, convallis</p>
                  </div>
                  <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                  	<p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oi_custom_heading_holder mt-5 mt-md-0">
                <div class="oi_vc_heading oi_border_position_none">
                  <h3 class="oi_icon_titile">We bring a crafted and inspired approach to every project we work on.</h3>
                </div>
              </div>
              <div class="text-justify">Highlighting text on a web page can help bring important information immediately to the readers attention e.g., <span class="oi_highlight" >This text caught your eye first.</span> To highlight text change the background-color style as shown in the example below using the HTML tag.</div>
            </div>
          </div>
          <div class="row mb-30">
            <div class="col-md-6">
              <div class="about-2-1">
                  <div class="oi_vc_text item_height_x2">
                    <div class="oi_vc_text_span"></div>
                  </div>
              </div>
            </div>
            <div class="absolute col-md-6">
              <div class="oi_vc_text item_height_x2 list-service">
                <div class="oi_vc_text_span">
                  <div class="oi_custom_heading_holder">
                    <div class="oi_heading_icon oi_heading_icon_left"><i class="li_fire"></i></div>
                    <div class="oi_vc_heading oi_border_position_center">
                      <h4 class="oi_icon_titile">Over 40,000 </h4>
                      <div class="oi_heading_border oi_border_position_center"><span></span></div>
                      <p class="oi_icon_sub_titile">Customers use our themes to power their websites and we love them. </p>
                    </div>
                  </div>
                  <div class="oi_custom_heading_holder">
                    <div class="oi_heading_icon oi_heading_icon_left"><i class="li_study"></i></div>
                    <div class="oi_vc_heading oi_border_position_center">
                      <h4 class="oi_icon_titile">12 Pairs Of Hands</h4>
                      <div class="oi_heading_border oi_border_position_center"><span></span></div>
                      <p class="oi_icon_sub_titile">The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                    </div>
                  </div>
                  <div class="oi_custom_heading_holder">
                    <div class="oi_heading_icon oi_heading_icon_left"><i class="li_diamond"></i></div>
                    <div class="oi_vc_heading oi_border_position_center">
                      <h4 class="oi_icon_titile">23 Projects</h4>
                      <div class="oi_heading_border oi_border_position_center"><span></span></div>
                      <p class="oi_icon_sub_titile">The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-60 about-3">
            <div class="col-md-6">
              <div class="oi_vc_text item_height_x2">
                <div class="oi_vc_text_span">
                  <div class="oi_custom_heading_holder">
                    <div class="oi_vc_heading oi_border_position_center">
                      <h3 class="oi_icon_titile">POWERFUL FEATURES</h3>
                      <div class="oi_heading_border oi_border_position_center"><span></span></div>
                      <p class="oi_icon_sub_titile">We bring a crafted and inspired approach to every project we work on, which is why our clients love us and why they keep coming back.</p>
                    </div>
                  </div>
                  <p class="mb-30">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Vivamus laoreet. Nunc nec neque. Suspendisse potenti. Fusce fermentum.</p>
                  <p>Pellentesque ut neque. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Phasellus consectetuer vestibulum elit. Proin magna. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-3-1">
                  <div class="oi_vc_text item_height_x2">
                    <div class="oi_vc_text_span"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
       <div class="footer-line">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
                  <div class="oi_custom_heading_holder mb-0">
                    <div class="oi_vc_heading oi_border_position_right text-md-right">
                      <h2 class="oi_icon_titile">HIRE US RIGHT NOW!</h2>
                      <p class="oi_icon_sub_titile">+1(777)123-45-67 / info@gravity.com</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mt-5 mt-md-0">
             <a class="oi_vc_button" data-title-color-hover="#ffffff" data-bg-color-hover="#aec71e" data-border-c-hover="#e83b23" href="#" data-remodal-target="contacts">LET'S DO MAGIC</a>
              <div class="remodal" data-remodal-id="contacts">
                <button data-remodal-action="close" class="remodal-close"></button>
                <h2>Stay In Touch</h2>
                <p>+1 (132) 123-456-7890 | hello@website.com</p>
                <hr />
                <div role="form" class="wpcf7">
				  <form method="post">
					<div class="row text-left">
					  <div class="col-md-6">
						<input class="form-name" type="text" name="your-name" value="" size="40" placeholder="NAME" />
					  </div>
					  <div class="col-md-6">
						<input class="form-email" type="email" name="your-email" value="" size="40" placeholder="E-MAIL" />
					  </div>
					  <div class="col-md-12">
						<input class="form-subject" type="text" name="subject" value="" size="40" placeholder="SUBJECT" />
					  </div>
					  <div class="col-md-12">
						<textarea class="form-message" name="your-message" cols="5" rows="2" placeholder="MESSAGE"></textarea>
					  </div>
					  <div class="col-md-12">
						<p class="text-center mb-0">
						  <input class="send-form" type="submit" value="SEND MESSAGE" />
						</p>
					  </div>
					</div>
					<div class="wpcf7-response-output wpcf7-display-none"></div>
				  </form>
				</div>
              </div>
            </div>
          </div>
          <div class="vc_row-full-width clearfix"></div>
      	</div>
      </div>
  </main>
  <!-- .site-main --> 
  
</div>

<!-- .content-area -->

{% include "../footer.njk" %}

<script type="text/javascript" src="../dist/js/script.js"></script>

</body>
</html>