<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>My account &#8211; Gravity</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/account.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>

</head>

<body class="woocommerce woocommerce-page woo_active standard_page dark_bg half_screen_fi have_featured_image not_logged_in woocommerce_enable_myaccount_registration_no">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> <a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>My account</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon"> <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a> <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span> </div>

{% set now_shop="current-menu-item current_page_item" %}
{% set now_shop_gravity="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
  <main id="main" class="site-main">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
                  <div class="hide_if_not_logged_in" >
                      <h3>Good Day!</h3>
                      <p>You are awesome</p>
                  </div>
                  <div class="woocommerce">
                    <h2>Login</h2>
                    <form class="woocommerce-form woocommerce-form-login login" method="post">
                      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="username">Username or email address <span class="required">*</span></label>
                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" value="" />
                      </p>
                      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="password">Password <span class="required">*</span></label>
                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" />
                      </p>
                      <p class="form-row">
                        <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="4b19679192" />
                        <input type="hidden" name="_wp_http_referer" value="/guro/gravity/my-account/" />
                        <input type="submit" class="woocommerce-Button button" name="login" value="Login" />
                        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                          <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" />
                          <span>Remember me</span> </label>
                      </p>
                      <p class="woocommerce-LostPassword lost_password"> <a href="lost-password.html">Lost your password?</a> </p>
                    </form>
                  </div>
            </div>
          </div>
      </div>
  </main>
  <!-- .site-main --> 
  
</div>
<!-- .content-area -->

{% include "../footer.njk" %}

<script type="text/javascript" src="../dist/js/script.js"></script>

</body>
</html>