<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>The Blog &#8211; Gravity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/blog.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="woo_active standard_page blog dark_bg half_screen_fi have_featured_image">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder">
  	<a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a>
  </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>News &amp; Events</h1>
          Whether you need a brand new app, a full website redesign or just some sprucing up of current products, we want to help and make your startup dream a reality.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon">
	<a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a>
    <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span>
</div>

{% set now_blog="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div class="row page_for_blog">
  <div class="col-md-12">
    <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
        <div class="blog_article_holder sticky blog-1"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>April 7, 2017</h6>
                </div>
                <h3 class="entry-title">Health goth retro typewriter, semiotics skateboard</h3>
                <div class="enty-meta"> Category: Video </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"> </div>
          <article>
            <div class="no_feat_image">
              <div class="entry-header">
                <div class="oi_date">
                  <h6>August 18, 2017</h6>
                </div>
                <h3 class="entry-title">Hello world!</h3>
                <div class="enty-meta"> Category: Uncategorized </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder blog-2"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>April 7, 2017</h6>
                </div>
                <h3 class="entry-title">Vestibulum quis magna vel nunc vehicula mattis id</h3>
                <div class="enty-meta"> Category: Innovations </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder highlighted blog-3"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>April 7, 2017</h6>
                </div>
                <h3 class="entry-title">Kickstarter humblebrag lo-fi cronut, gochujang pork belly.</h3>
                <div class="enty-meta"> Category: Lifestyle </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder blog-4"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>April 7, 2017</h6>
                </div>
                <h3 class="entry-title">How to create a back up your WordPress Website using Duplicator</h3>
                <div class="enty-meta"> Category: Video </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"> </div>
          <article>
            <div class="no_feat_image">
              <div class="entry-header">
                <div class="oi_date">
                  <h6>April 7, 2017</h6>
                </div>
                <h3 class="entry-title">How to Backup your WordPress Site Database with plugin</h3>
                <div class="enty-meta"> Category: Uncategorized </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder blog-5"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>April 7, 2017</h6>
                </div>
                <h3 class="entry-title">How to add live chat support to your WordPress site</h3>
                <div class="enty-meta"> Category: Innovations </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder blog-6"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>April 7, 2017</h6>
                </div>
                <h3 class="entry-title">The best free WordPress themes for businesses – 2017 edition</h3>
                <div class="enty-meta"> Category: Lifestyle </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder highlighted blog-7"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>March 7, 2017</h6>
                </div>
                <h3 class="entry-title">Pop-up bicycle rights sustainable, health goth direct trade</h3>
                <div class="enty-meta"> Category: Innovations Uncategorized </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder blog-8"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>March 6, 2017</h6>
                </div>
                <h3 class="entry-title">Craft beer pickled brunch bitters</h3>
                <div class="enty-meta"> Category: Lifestyle Uncategorized </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder highlighted blog-9"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>March 5, 2017</h6>
                </div>
                <h3 class="entry-title">Organic PBR&#038;B selvage put a bird on it.</h3>
                <div class="enty-meta"> Category: Lifestyle Uncategorized </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <div class="blog_article_holder blog-10"> <a class="main_blog_a" href="post.html">
          <div class="blogpost_image_holder"></div>
          <article>
            <div>
              <div class="entry-header">
                <div class="oi_date">
                  <h6>March 5, 2017</h6>
                </div>
                <h3 class="entry-title">Kickstarter humblebrag lo-fi cronut, gochujang pork belly.</h3>
                <div class="enty-meta"> Category: Uncategorized Video </div>
              </div>
              <!-- .entry-header --> 
            </div>
          </article>
          <!-- #post-## --> 
          </a> </div>
        <nav class="navigation pagination" role="navigation">
          <h2 class="screen-reader-text">Choose Page</h2>
          <div class="nav-links">
          	<span class="page-numbers current">1</span>
            <a class="page-numbers" href="">2</a>
            <a class="next page-numbers" href="">Next</a>
          </div>
        </nav>
      </main>
      <!-- .site-main --> 
    </div>
    <!-- .content-area --> 
  </div>
</div>

{% include "../footer.njk" %}

<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>
