<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Your Cart &#8211; Gravity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/shop.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="woocommerce-cart woocommerce-page woo_active standard_page dark_bg half_screen_fi have_featured_image products_per_row_3">
<div class="preload"></div>
<div class="header">
    <div class="logo_holder">
    	<a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" />
       	</a>
    </div>
    <div class="contacts">
        <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
    </div>
    <div id="site-header-social-menu" class="social-navigation">
        <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
            <div class="menu-social-menu-container">
                <ul id="menu-social-menu" class="social-menu">
                    <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                    <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- .social-navigation --> 
    </div>
    <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
    <div class="page_description_over"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="page_description">
                    <h1>Your Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon">
    <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a>
    <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span>
</div>

{% set now_shop="current-menu-item current_page_item" %}
{% set now_shop_gravity="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
    <main id="main" class="site-main">
        <div class="container">
            <div class="entry-content" >
                <div class="row">
                    <div class="col-md-6">
                        <h3>Your Cart</h3>
                        <p>Some Importatn Information.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="woocommerce">
                            <form class="woocommerce-cart-form" method="post">
                                <table class="shop_table shop_table_responsive cart">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="woocommerce-cart-form__cart-item cart_item">
                                            <td class="product-remove"><a href="#" class="remove" aria-label="Remove this item" >&times;</a></td>
                                            <td class="product-thumbnail"><a href="shop-item.html"> <img class="img-fluid" src="../dist/images/img/20.jpeg" alt="" /> </a></td>
                                            <td class="product-name" data-title="Product"><a href="shop-item.html">Acetate Glasses</a>
                                                <dl class="variation">
                                                    <dt class="variation-ColorPalette">Color Palette:</dt>
                                                    <dd class="variation-ColorPalette">
                                                        <p>Black</p>
                                                    </dd>
                                                    <dt class="variation-HeadSize">Head Size:</dt>
                                                    <dd class="variation-HeadSize">
                                                        <p>L</p>
                                                    </dd>
                                                </dl></td>
                                            <td class="product-price" data-title="Price"><span class="amount"><span>&#36;</span>28.00</span></td>
                                            <td class="product-quantity" data-title="Quantity"><div class="quantity">
                                                    <label class="screen-reader-text" for="quantity_5a2161742ebb7">Quantity</label>
                                                    <input type="number" id="quantity_5a2161742ebb7" class="input-text qty text" step="1" min="0" max="33" name="cart[4af846df467e30a37adf253876850e1f][qty]" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" />
                                                </div></td>
                                            <td class="product-subtotal" data-title="Total"><span class="amount"><span>&#36;</span>28.00</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="actions"><div class="coupon">
                                                    <label for="coupon_code">Coupon:</label>
                                                    <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code" />
                                                    <input type="submit" class="button" name="apply_coupon" value="Apply coupon" />
                                                </div>
                                                <input type="submit" class="button" name="update_cart" value="Update cart" />
                                                <input type="hidden" id="_wpnonce" name="_wpnonce" value="42c97137da" />
                                                <input type="hidden" name="_wp_http_referer" value="/guro/gravity/cart/" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            <div class="cart-collaterals">
                                <div class="cart_totals ">
                                    <h2>Cart totals</h2>
                                    <table cellspacing="0" class="shop_table shop_table_responsive">
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td data-title="Subtotal"><span class="amount"><span>&#36;</span>28.00</span></td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td data-title="Total"><strong><span class="amount"><span>&#36;</span>28.00</span></strong></td>
                                        </tr>
                                    </table>
                                    <div class="wc-proceed-to-checkout"> <a href="checkout.html" class="checkout-button button alt wc-forward"> Proceed to checkout</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Last Chance</h3>
                        <p>Do not miss our special offer.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="woocommerce columns-5 ">
                            <ul class="products">
                                <li class="product use-star-ratings first instock featured purchasable product-type-simple">
                                	<a href="shop-item.html"><img class="img-fluid" src="../dist/images/img/4.jpg" alt=""/>
                                        <h2 class="woocommerce-loop-product__title">Black-Ice Pullover Hoodie</h2>
                                        <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                        <span class="price"><span class="amount"><span>&#36;</span>140.00</span></span>
                                    </a>
                                </li>
                                <li class="product product_cat-glasses use-star-ratings instock purchasable product-type-variable has-children">
                                	<a href="shop-item.html"><img class="img-fluid" src="../dist/images/img/20.jpeg" alt="" />
                                        <h2 class="woocommerce-loop-product__title">Acetate Glasses</h2>
                                        <span class="price"><span class="amount"><span>&#36;</span>28.00</span></span>
                                    </a>
                                </li>
                                <li class="product use-star-ratings  instock sale purchasable product-type-simple">
                                	<a href="shop-item.html"> <span class="onsale">Sale!</span> <img class="img-fluid" src="../dist/images/img/1.jpg" alt="" />
                                        <h2 class="woocommerce-loop-product__title">Black Snapback</h2>
                                        <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                        <span class="price"><del><span class="amount"><span>&#36;</span>20.00</span></del> <ins><span class="amount"><span>&#36;</span>10.00</span></ins></span>
                                    </a>
                                </li>
                                <li class="product use-star-ratings  instock purchasable product-type-simple">
                                	<a href="shop-item.html"><img class="img-fluid" src="../dist/images/img/6.jpeg" alt="" />
                                        <h2 class="woocommerce-loop-product__title">Pullover Hoodie</h2>
                                        <span class="price"><span class="amount"><span>&#36;</span>110.00</span></span>
                                    </a>
                                </li>
                                <li class="product product_cat-hats use-star-ratings last instock purchasable product-type-simple">
                                    <a href="shop-item.html"><img class="img-fluid" src="../dist/images/img/8.jpg" alt="" />
                                        <h2 class="woocommerce-loop-product__title">Paislay Snapback</h2>
                                        <span class="price"><span class="amount"><span>&#36;</span>32.00</span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- .site-main --> 
    
</div>
<!-- .content-area -->

{% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>