<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Checkout &#8211; Gravity</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/shop.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="single woocommerce woocommerce-page woo_active standard_page dark_bg half_screen_fi have_featured_image products_per_row_3">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> <a href="/"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>Checkout</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon"> <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a> <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span> </div>

{% set now_shop="current-menu-item current_page_item" %}
{% set now_shop_gravity="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
  <div class="container">
    <div class="entry-content" >
      <div class="woocommerce">
        <form name="checkout" method="post" class="checkout woocommerce-checkout" enctype="multipart/form-data">
          <div class="row" id="customer_details">
            <div class="col-md-6">
              <div class="woocommerce-billing-fields">
                <h3>Billing details</h3>
                <div class="woocommerce-billing-fields__field-wrapper">
                  <p class="form-row form-row-first validate-required" id="billing_first_name_field" data-priority="10">
                    <label for="billing_first_name" class="">First name <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text " name="billing_first_name" id="billing_first_name" placeholder=""  value="" autocomplete="given-name" autofocus />
                  </p>
                  <p class="form-row form-row-last validate-required" id="billing_last_name_field" data-priority="20">
                    <label for="billing_last_name" class="">Last name <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text " name="billing_last_name" id="billing_last_name" placeholder=""  value="" autocomplete="family-name" />
                  </p>
                  <p class="form-row form-row-wide" id="billing_company_field" data-priority="30">
                    <label for="billing_company" class="">Company name</label>
                    <input type="text" class="input-text " name="billing_company" id="billing_company" placeholder=""  value="" autocomplete="organization" />
                  </p>
                  <p class="form-row form-row-wide address-field update_totals_on_change validate-required" id="billing_country_field" data-priority="40">
                    <label for="billing_country" class="">Country <abbr class="required" title="required">*</abbr></label>
                    <select name="billing_country" id="billing_country" class="country_to_state country_select " autocomplete="country">
                      <option value="">Select a country&hellip;</option>
                      <option value="" >Our countries</option>
                    </select>
                    <noscript>
                    <input type="submit" name="woocommerce_checkout_update_totals" value="Update country" />
                    </noscript>
                  </p>
                  <p class="form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                    <label for="billing_address_1" class="">Street address <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text " name="billing_address_1" id="billing_address_1" placeholder="House number and street name"  value="" autocomplete="address-line1" />
                  </p>
                  <p class="form-row form-row-wide address-field" id="billing_address_2_field" data-priority="60">
                    <input type="text" class="input-text " name="billing_address_2" id="billing_address_2" placeholder="Apartment, suite, unit etc. (optional)"  value="" autocomplete="address-line2" />
                  </p>
                  <p class="form-row form-row-wide address-field validate-required" id="billing_city_field" data-priority="70">
                    <label for="billing_city" class="">Town / City <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text " name="billing_city" id="billing_city" placeholder=""  value="" autocomplete="address-level2" />
                  </p>
                  <p class="form-row form-row-wide address-field validate-required validate-state" id="billing_state_field" data-priority="80">
                    <label for="billing_state" class="">State <abbr class="required" title="required">*</abbr></label>
                    <select name="billing_state" id="billing_state" class="state_select " autocomplete="address-level1" data-placeholder="">
                      <option value="">Select a state&hellip;</option>
                      <option value="" >Our state</option>
                    </select>
                  </p>
                  <p class="form-row form-row-wide address-field validate-required validate-postcode" id="billing_postcode_field" data-priority="90">
                    <label for="billing_postcode" class="">ZIP <abbr class="required" title="required">*</abbr></label>
                    <input type="text" class="input-text " name="billing_postcode" id="billing_postcode" placeholder=""  value="" autocomplete="postal-code" />
                  </p>
                  <p class="form-row form-row-first validate-required validate-phone" id="billing_phone_field" data-priority="100">
                    <label for="billing_phone" class="">Phone <abbr class="required" title="required">*</abbr></label>
                    <input type="tel" class="input-text " name="billing_phone" id="billing_phone" placeholder=""  value="" autocomplete="tel" />
                  </p>
                  <p class="form-row form-row-last validate-required validate-email" id="billing_email_field" data-priority="110">
                    <label for="billing_email" class="">Email address <abbr class="required" title="required">*</abbr></label>
                    <input type="email" class="input-text " name="billing_email" id="billing_email" placeholder=""  value="" autocomplete="email username" />
                  </p>
                </div>
              </div>
              <div class="woocommerce-account-fields">
                <p class="form-row form-row-wide create-account">
                  <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                    <input class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" id="createaccount"  type="checkbox" name="createaccount" value="1" />
                    <span>Create an account?</span> </label>
                </p>
                <div class="create-account">
                  <p class="form-row validate-required" id="account_password_field" data-priority="">
                    <label for="account_password" class="">Create account password <abbr class="required" title="required">*</abbr></label>
                    <input type="password" class="input-text " name="account_password" id="account_password" placeholder="Password"  value=""  />
                  </p>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="woocommerce-shipping-fields"> </div>
              <div class="woocommerce-additional-fields">
                <h3>Additional information</h3>
                <div class="woocommerce-additional-fields__field-wrapper">
                  <p class="form-row notes" id="order_comments_field" data-priority="">
                    <label for="order_comments" class="">Order notes</label>
                    <textarea name="order_comments" class="input-text " id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery."  rows="2" cols="5"></textarea>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <h3 id="order_review_heading">Your order</h3>
          <div id="order_review">
            <table class="shop_table woocommerce-checkout-review-order-table">
              <thead>
                <tr>
                  <th class="product-name">Product</th>
                  <th class="product-total">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="cart_item">
                  <td class="product-name"> Curves Glasses&nbsp; <strong class="product-quantity">&times; 1</strong></td>
                  <td class="product-total"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>49.00</span></td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="cart-subtotal">
                  <th>Subtotal</th>
                  <td><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>49.00</span></td>
                </tr>
                <tr class="order-total">
                  <th>Total</th>
                  <td><strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>49.00</span></strong></td>
                </tr>
              </tfoot>
            </table>
            <div id="payment" class="woocommerce-checkout-payment">
              <ul class="wc_payment_methods payment_methods methods">
                <li class="wc_payment_method payment_method_cheque">
                  <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque"  checked="checked" />
                  <label for="payment_method_cheque"> Check payments </label>
                  <div class="payment_box payment_method_cheque" >
                    <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                  </div>
                </li>
              </ul>
              <div class="form-row place-order">
                <noscript>
                Since your browser does not support JavaScript, or it is disabled, please ensure you click the <em>Update Totals</em> button before placing your order. You may be charged more than the amount stated above if you fail to do so. <br/>
                <input type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="Update totals" />
                </noscript>
                <input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Place order" data-value="Place order" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- .site-main --> 
</div>
<!-- .content-area -->

{% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>