<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Contacts &#8211; Gravity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/contact.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="woo_active standard_page dark_bg have_featured_image">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder">
  	<a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a>
  </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>Contacts</h1>
          We are always here to help out in whatever way we can. </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon">
    <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a>
    <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span>
</div>

{% set now_contacts="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
  <main id="main" class="site-main">
    <div id="contacts" class="row light_bg full-height align-items-center d-flex contact-1">
      <div class="container">
        <div class="vc_column-inner">
          <div class="row">
            <div class="col-md-6">
              <div class="vc_column-inner">
                <div class="oi_vc_text item_height_x2 contact-1-1">
                  <div class="oi_vc_text_span">
                    <div class="oi_custom_heading_holder">
                      <div class="oi_vc_heading oi_border_position_center">
                        <h1 class="oi_icon_titile">CONTACT US</h1>
                        <div class="oi_heading_border oi_border_position_center"><span></span></div>
                        <p class="oi_icon_sub_titile">Give us a call, send us an email or a letter - or drop by to have a chat. We are always here to help out in whatever way we can.</p>
                      </div>
                    </div>
                    <div role="form" class="wpcf7">
					  <form method="post">
						<div class="row text-left">
						  <div class="col-md-6">
							<input class="form-name" type="text" name="your-name" value="" size="40" placeholder="NAME" />
						  </div>
						  <div class="col-md-6">
							<input class="form-email" type="email" name="your-email" value="" size="40" placeholder="E-MAIL" />
						  </div>
						  <div class="col-md-12">
							<input class="form-subject" type="text" name="subject" value="" size="40" placeholder="SUBJECT" />
						  </div>
						  <div class="col-md-12">
							<textarea class="form-message" name="your-message" cols="5" rows="2" placeholder="MESSAGE"></textarea>
						  </div>
						  <div class="col-md-12">
							<p class="text-center mb-0">
							  <input class="send-form" type="submit" value="SEND MESSAGE" />
							</p>
						  </div>
						</div>
						<div class="wpcf7-response-output wpcf7-display-none"></div>
					  </form>
					</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="vc_column-inner ">
                <div class="oi_vc_text item_height_x2">
                  <div class="oi_vc_text_span text-center">
                    <h4 class="mb-4">CONTACT DETAILS</h4>
                    <ul class="contact-info">
                      <li>
                        <div><strong>ADDRESS</strong></div>
                        <p>93 Worth St, New York, NY</p>
                      </li>
                      <li>
                        <div><strong>PHONE</strong></div>
                        <p>+321 123 456<br />
                          +321 123 456</p>
                      </li>
                      <li>
                        <div><strong>EMAIL</strong></div>
                        <p><a href="mailto:sayhi@freemancompany.com">sayhi@freemancompany.com</a></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="row no-gutters">
        <div class="col-md-12">
        	<div id="map"></div>
        </div>
	</div>
  </main>
  <!-- .site-main --> 
  
</div>
<!-- .content-area -->

{% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-U22D3tbB5M6uQgu-LaihP-xsLyrl6Qo"></script> 
<script>
	jQuery.noConflict()(function($){
		jQuery(document).ready(function($) {
		
		$("#map").gmap3({
			
			marker:{     
			// address:"93 Worth St, New York, NY",
			address :"7th Ave, New York, NY", 
			options:{ icon: "../dist/images/img/marker.png"}},
			map:{
			options:{
			styles: [ {
			stylers: [ { "saturation":-100 }, { "lightness": 0 }, { "gamma": 1}]},
			],
			zoom: 13,
			scrollwheel:false,
			draggable: true }
			}
			});	
			$(document).on("opened", ".remodal", function () {
				 google.maps.event.trigger(map, "resize");
			});
		});
	});
</script>
</body>
</html>