<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>GRAVITY-E &#8211; E-commerce, Agency &amp; Presentation Theme</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/main.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>

<!-- <script src="js/jquery.pagepiling.min.js"></script> -->
</head>

<body class="home woo_active raw_scroller">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> <a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_title">
  <p>Home</p>
</div>
<h6 class="section_number">01</h6>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon"> <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a> <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span> </div>

{% set now_home="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
  <main id="main" class="site-main">
    <div>
      <div class="entry-content" id="pagepiling">
        <div id="home" class="ppslide no-gutters bubbles full-height main-1">
          <div class="main-1-1"> WELCOME TO<br>
            GRAVITY DESIGN STUDIO </div>
          <div class="main-1-2"><span> Stand Out</span><br>
            Among Your<br>
            Competitors! </div>
        </div>
        <div id="servicess" class="ppslide light_bg full-height align-items-center d-flex main-1-3">
          <div class="container">
            <div class="vc_column-inner">
              <div class="row">
                <div class="col-md-6">
                  <div class="oi_custom_heading_holder mb-5">
                    <div class="oi_vc_heading oi_border_position_center">
                      <h1 class="oi_icon_titile">WE OFFERING</h1>
                      <div class="oi_heading_border oi_border_position_center"> <span></span> </div>
                      <p class="oi_icon_sub_titile">We love to work with startups because they are as passionate as we are about their products. We will help to find solution for you.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="serviceSlide" class="owl-carousel">
                <div class="item-service main-1-s1">
                  <h2 class="item-serv-title">&lt; HTML /&gt;</h2>
                  <div class="item-serv-descr"> <strong>Start</strong> WIth Fresh </div>
                </div>
                <div class="item-service main-1-s2">
                  <h2 class="item-serv-title">WORDPRESS</h2>
                  <div class="item-serv-descr"> <strong>Theme</strong> Development </div>
                </div>
                <div class="item-service main-1-s3">
                  <h2 class="item-serv-title">SEO</h2>
                  <div class="item-serv-descr"> <strong>Boost</strong> Your Site </div>
                </div>
                <div class="item-service main-1-s4">
                  <h2 class="item-serv-title">MARKETING</h2>
                  <div class="item-serv-descr"> <strong>Awesome </strong> Service </div>
                </div>
                <div class="item-service main-1-s5">
                  <h2 class="item-serv-title">Design</h2>
                  <div class="item-serv-descr"> <strong>Photoshop</strong> &amp; Illustrator </div>
                </div>
              </div>
              <a href="" title="" class="ult-btn">VIEW ALL SERVICES<span></span></a> </div>
          </div>
        </div>
        <div id="portfolio" class="ppslide light_bg no-gutters full-height align-items-center d-flex main-5">
          <div class="col-md-12">
            <div id="customPortfolio" class="vc_column-inner owl-carousel">
              <div class="oi_ajax_port_holder">
                <div class="oi_bg_img_shortcode" style="background-image:url(../dist/images/img/craft_bear.jpg)"></div>
                <div class="oi_creative_p_content">
                  <div class="arrow-up"></div>
                  <img class="prize_img" width="48" alt="" src="../dist/images/img/prize.png">
                  <div class="oi_creative_p_holder">
                    <h3 class="oi_c_title"><a href="portfolio-item.html">Cratf Beer MockUp</a></h3>
                    <span class="oi_c_cats">MocUp, Vector</span>
                    <div class="oi_c_description">
                      <div class="oi_c_description_content"></div>
                    </div>
                    <div class="pfolio-customNav"></div>
                  </div>
                </div>
              </div>
              <div class="oi_ajax_port_holder">
                <div class="oi_bg_img_shortcode" style="background-image:url(../dist/images/img/Paper-Bag-packaging-Mockup-psd.jpg)"></div>
                <div class="oi_creative_p_content">
                  <div class="arrow-up"></div>
                  <img class="prize_img" width="48" alt="" src="../dist/images/img/prize.png">
                  <div class="oi_creative_p_holder">
                    <h3 class="oi_c_title"><a href="portfolio-item-1.html">Papper Bag</a></h3>
                    <span class="oi_c_cats">MocUp, Vector</span>
                    <div class="oi_c_description">
                      <div class="oi_c_description_content"></div>
                    </div>
                  </div>
                  <div class="pfolio-customNav"></div>
                </div>
              </div>
              <div class="oi_ajax_port_holder">
                <div class="oi_bg_img_shortcode" style="background-image:url(../dist/images/img/Fabric-Bag-Mockup.jpg)"></div>
                <div class="oi_creative_p_content">
                  <div class="arrow-up"></div>
                  <img class="prize_img" width="48" alt="" src="../dist/images/img/prize.png">
                  <div class="oi_creative_p_holder">
                    <h3 class="oi_c_title"><a href="portfolio-item-2.html">The Faric bag</a></h3>
                    <span class="oi_c_cats">MocUp</span>
                    <div class="oi_c_description">
                      <div class="oi_c_description_content"></div>
                    </div>
                  </div>
                  <div class="pfolio-customNav"></div>
                </div>
              </div>
              <div class="oi_ajax_port_holder">
                <div class="oi_bg_img_shortcode" style="background-image:url(../dist/images/img/another-bag.jpg)"></div>
                <div class="oi_creative_p_content">
                  <div class="arrow-up"></div>
                  <img class="prize_img" width="48" alt="" src="../dist/images/img/prize.png">
                  <div class="oi_creative_p_holder">
                    <h3 class="oi_c_title"><a href="portfolio-item-3.html">Another Bag</a></h3>
                    <span class="oi_c_cats">Vector</span>
                    <div class="oi_c_description">
                      <div class="oi_c_description_content"></div>
                    </div>
                  </div>
                  <div class="pfolio-customNav"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="Clients" class="ppslide light_bg full-height align-items-center d-flex main-2">
          <div class="container">
            <div class="vc_column-inner">
              <div class="row">
                <div class="col-md-6">
                  <div class="oi_custom_heading_holder">
                    <div class="oi_vc_heading oi_border_position_center">
                      <h1 class="oi_icon_titile">CLIENTS &amp; PARTNERS</h1>
                      <div class="oi_heading_border oi_border_position_center"><span></span></div>
                      <p class="oi_icon_sub_titile">Want to expose your portfolio to more customers? Nominate your file for use in our Free File of the Month marketing promotions! </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="ROTHRIR" id="oi_164_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l01.png" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="DEAD SHEEP COMEDY" id="oi_167_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l02.png" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="LITLE ROCKET" id="oi_169_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l03.png" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="TABLE TALKS" id="oi_3344_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l04.jpg" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="CONEXION" id="oi_173_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l05.png" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="SCENTFUL" id="oi_176_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l06.png" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
              </div>
              <div class="row d-flex">
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="SHARE SPACE" id="oi_178_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l07.png" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="ROCKLYN" id="oi_179_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l08.png" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="MAY HOWER" id="oi_182_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l09.png" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
                <div class="col-md-2">
                  <div data-color="#ffffff" data-bg="#000000" data-position="bottom" title="BATTREE" id="oi_3343_partner" class="oi_partner_holder"><a target="_blank" href="http://www.google.com"><img width="325" height="260" src="../dist/images/img/l010.jpg" class="attachment-full img-fluid vc_team_member_image size-full img-fluid" alt=""/></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="testimoniials" class="ppslide dark_bg full-height align-items-center d-flex main-3">
          <div class="container">
            <div class="vc_column-inner">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <div class="oi_custom_heading_holder mb-5">
                    <div class="oi_vc_heading oi_border_position_bottom text-center">
                      <div class="oi_heading_icon oi_heading_icon_center"><i class="li_star"></i></div>
                      <h1 class="oi_icon_titile oi_white">WHAT THEY SAY</h1>
                      <p class="oi_icon_sub_titile oi_grey">Based upon the information you provide, available developers give estimates. The Average + 15% Codeable Fee = Your Quote.</p>
                      <div class="oi_heading_border oi_border_position_bottom text-center"><span class="oi_white"></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="testimonialSlide" class="owl-carousel">
                <div class="item-testimon">
                  <div class="oi_testimonial_holder text-center">
                    <div class="oi_testimonial_content_holder">
                      <h3 class="oi_tesimonial_content oi_white">I bought this theme and i would like to recommend it to every one interested in building a website without knowledge of php or html. It is very convenient and the customer service is very reactive. I will say it in French “Bravo” for this work!</h3>
                    </div>
                    <div class="oi_testimonial_author_holder text-center"><img class="oi_oi_testimonial_image" src="../dist/images/img/l01.png" alt="">
                      <h6 class="oi_tesimonial_title oi_white text-center">Max Doe - Teme Buyer<br>
                        ThemeForest</h6>
                    </div>
                  </div>
                </div>
                <div class="item-testimon">
                  <div class="oi_testimonial_holder text-center">
                    <div class="oi_testimonial_content_holder">
                      <h3 class="oi_tesimonial_content oi_white">This is easily one of the best themes I've worked with. The customization panel allows for everything, which means I didn't have to sludge around in CSS or PHP at all. The customer support is also lightning fast. I will definitely be purchasing more themes from this author!</h3>
                    </div>
                    <div class="oi_testimonial_author_holder text-center"><img class="oi_oi_testimonial_image" src="../dist/images/img/l05.png" alt="">
                      <h6 class="oi_tesimonial_title oi_white text-center">Alex Doe - Teme Buyer<br>
                        Envato</h6>
                    </div>
                  </div>
                </div>
                <div class="item-testimon">
                  <div class="oi_testimonial_holder text-center">
                    <div class="oi_testimonial_content_holder">
                      <h3 class="oi_tesimonial_content oi_white">Bought the theme last week and really I must say the documentation is great and so it is fun to work with it! Thank you for your great job here, guys! Keep up the good work! 🙂</h3>
                    </div>
                    <div class="oi_testimonial_author_holder text-center"><img class="oi_oi_testimonial_image" src="../dist/images/img/l08.png" alt="">
                      <h6 class="oi_tesimonial_title oi_white text-center">SeriousToni<br>
                        ThemeForest</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="ready_to_start" class="ppslide light_bg full-height align-items-center d-flex main-4">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="vc_column-inner">
                  <div class="main-4-1">
                    <div class="item_height_x2"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="vc_column-inner">
                  <div class="d-flex oi_vc_text align-items-center item_height_x2 main-4-2">
                    <div class="oi_vc_text_span">
                      <div class="clock_click">
                        <div class="clock_mask"></div>
                      </div>
                      <div class="clock_shortcode">
                        <div class="box">
                          <div class="title" id="title">
                            <h3><span id="timeclock">&nbsp;</span></h3>
                          </div>
                        </div>
                      </div>
                      <div class="oi_custom_heading_holder mb-5">
                        <div class="oi_vc_heading oi_border_position_none">
                          <h1 class="oi_icon_titile">ALWAYS PERFECT TIME TO HIRE US!</h1>
                          <p class="oi_icon_sub_titile">+1(777)123-45-67 / info@gravity.com</p>
                        </div>
                      </div>
                      <a class="oi_vc_button in_contact" data-title-color-hover="#000" data-bg-color-hover="#FFED00" data-border-c-hover="#FFED00" href="#"  data-remodal-target="contacts">LET'S START</a>
                      <div class="remodal p-3" data-remodal-id="contacts">
                        <button data-remodal-action="close" class="remodal-close"></button>
                        <h2>Place Your Order</h2>
                        <p>+1 (132) 123-456-7890 | hello@website.com</p>
                        <hr />
                        <div role="form" class="wpcf7">
                          <form method="post">
                            <div class="row text-left">
                              <div class="col-md-6">
                                <input class="form-name" type="text" name="your-name" value="" size="40" placeholder="NAME" />
                              </div>
                              <div class="col-md-6">
                                <input class="form-email" type="email" name="your-email" value="" size="40" placeholder="E-MAIL" />
                              </div>
                              <div class="col-md-12">
                                <input class="form-subject" type="text" name="subject" value="" size="40" placeholder="SUBJECT" />
                              </div>
                              <div class="col-md-12">
                                <textarea class="form-message" name="your-message" cols="5" rows="2" placeholder="MESSAGE"></textarea>
                              </div>
                              <div class="col-md-12">
                                <p class="text-center mb-0">
                                  <input class="send-form" type="submit" value="SEND MESSAGE" />
                                </p>
                              </div>
                            </div>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="achivements" class="ppslide dark_bg full-height align-items-center d-flex main-6">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="vc_column-inner">
                  <div class="oi_vc_text item_height_x2 main-6-1">
                    <div class="oi_vc_text_span">
                      <h2><strong>WORDPRESS</strong> <span>POWER</span></h2>
                      <p class="mb-4">GRAVITY Theme give you everything you need to create an amazing website. Designed and built with care, filled with creative elements and useful options, and completely user-friendly.</p>
                      <p class="mb-3">Set up your website quickly and with ease. With this themes you can have complete control over every aspect of your typography.<br />
                        Tons of shortcodes provide countless options.</p>
                      <p class="mb-3"><img class="alignnone size-full wp-image-267" src="../dist/images/img/sig.png" alt="sig" width="200" height="82" /></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="vc_column-inner">
                  <div class="oi_vc_text item_height_x2 list-service">
                    <div class="oi_vc_text_span">
                      <div class="oi_custom_heading_holder">
                        <div class="oi_heading_icon oi_heading_icon_left"><i class="li_fire"></i></div>
                        <div class="oi_vc_heading oi_border_position_center">
                          <h4 class="oi_icon_titile">Over 40,000 </h4>
                          <div class="oi_heading_border oi_border_position_center"><span></span></div>
                          <p class="oi_icon_sub_titile oi_white">Customers use our themes to power their websites and we love them. </p>
                        </div>
                      </div>
                      <div class="oi_custom_heading_holder">
                        <div class="oi_heading_icon oi_heading_icon_left"><i class="li_study"></i></div>
                        <div class="oi_vc_heading oi_border_position_center">
                          <h4 class="oi_icon_titile">12 Pairs Of Hands</h4>
                          <div class="oi_heading_border oi_border_position_center"><span></span></div>
                          <p class="oi_icon_sub_titile oi_white">The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        </div>
                      </div>
                      <div class="oi_custom_heading_holder">
                        <div class="oi_heading_icon oi_heading_icon_left"><i class="li_diamond"></i></div>
                        <div class="oi_vc_heading oi_border_position_center">
                          <h4 class="oi_icon_titile">23 Projects</h4>
                          <div class="oi_heading_border oi_border_position_center"><span></span></div>
                          <p class="oi_icon_sub_titile oi_white">The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="contacts" class="ppslide light_bg full-height align-items-center d-flex main-7">
          <div class="container">
            <div class="vc_column-inner">
              <div class="row">
                <div class="col-md-6">
                  <div class="vc_column-inner">
                    <div class="oi_vc_text item_height_x2 main-7-1">
                      <div class="oi_vc_text_span">
                        <div class="oi_custom_heading_holder">
                          <div class="oi_vc_heading oi_border_position_center">
                            <h1 class="oi_icon_titile">CONTACT US</h1>
                            <div class="oi_heading_border oi_border_position_center"><span></span></div>
                            <p class="oi_icon_sub_titile">Give us a call, send us an email or a letter - or drop by to have a chat. We are always here to help out in whatever way we can.</p>
                          </div>
                        </div>
                        <div role="form" class="wpcf7">
                          <form method="post">
                            <div class="row text-left">
                              <div class="col-md-6">
                                <input class="form-name" type="text" name="your-name" value="" size="40" placeholder="NAME" />
                              </div>
                              <div class="col-md-6">
                                <input class="form-email" type="email" name="your-email" value="" size="40" placeholder="E-MAIL" />
                              </div>
                              <div class="col-md-12">
                                <input class="form-subject" type="text" name="subject" value="" size="40" placeholder="SUBJECT" />
                              </div>
                              <div class="col-md-12">
                                <textarea class="form-message" name="your-message" cols="5" rows="2" placeholder="MESSAGE"></textarea>
                              </div>
                              <div class="col-md-12">
                                <p class="text-center mb-0">
                                  <input class="send-form" type="submit" value="SEND MESSAGE" />
                                </p>
                              </div>
                            </div>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="vc_column-inner ">
                    <div class="oi_vc_text item_height_x2">
                      <div class="oi_vc_text_span text-center">
                        <h4 class="mb-4">CONTACT DETAILS</h4>
                        <ul class="contact-info">
                          <li>
                            <div><strong>ADDRESS</strong></div>
                            <p>93 Worth St, New York, NY</p>
                          </li>
                          <li>
                            <div><strong>PHONE</strong></div>
                            <p>+321 123 456<br />
                              +321 123 456</p>
                          </li>
                          <li>
                            <div><strong>EMAIL</strong></div>
                            <p><a href="mailto:sayhi@freemancompany.com">sayhi@freemancompany.com</a></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- .site-main --> 
  
</div>
<!-- .content-area --> 

<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>