<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>My account &#8211; Gravity</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/account.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>

</head>

<body class="woocommerce woocommerce-page woocommerce-lost-password woo_active standard_page dark_bg half_screen_fi have_featured_image not_logged_in woocommerce_enable_myaccount_registration_no">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> <a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>My account</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon"> <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a> <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span> </div>

{% set now_shop="current-menu-item current_page_item" %}
{% set now_shop_gravity="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
  <main id="main" class="site-main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hide_if_not_logged_in" >
            <h3>Good Day!</h3>
            <p>You are awesome</p>
          </div>
          <div class="woocommerce">
            <form method="post" class="woocommerce-ResetPassword lost_reset_password">
              <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
              <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                <label for="user_login" class="text-center">Username or email</label>
                <input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="user_login" id="user_login" />
              </p>
              <div class="clear"></div>
              <p class="woocommerce-form-row form-row justify-content-center">
                <input type="hidden" name="wc_reset_password" value="true" />
                <input type="submit" class="woocommerce-Button button" value="Reset password" />
              </p>
              <input type="hidden" id="_wpnonce" name="_wpnonce" value="9123b5a2e7" />
              <input type="hidden" name="_wp_http_referer" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- .site-main --> 
  
</div>
<!-- .content-area -->

{% include "../footer.njk" %}

<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>