<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>The Book &#8211; Gravity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/portfolio-item-6.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="woo_active standard_page dark_bg have_featured_image">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> <a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <div class="port_f_descr">
            <h1>The Book</h1>
            <div class="enty-meta"><strong>Client: </strong>Envato Corporation<br>
              <strong>Managers: </strong> Mark Russo &amp; Kate Lima<br>
              <strong>Website: </strong><a href="http://www.themeforest.net">http://www.themeforest.net</a><br>
              <br>
              <em>The description is not prominent by default, however you may use it as you want even with HTML Tags.</em></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon"> <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a> <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <span class="shop_cart_full"></span></a> </div>

{% set now_portfolio="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div class="this_page oi_page_holder">
  <div class="oi_sinle_portfolio_holder">
    <div class="oi_portfolio_page_holder">
      <div class="pf-item-1 full-height align-items-center d-flex">
        <div class="container">
          <div class="row">
            <div class="text-center col-md-4 offset-md-4">
              <div class="mb-100">
                <div class="oi_custom_heading_holder">
                  <div class="oi_vc_heading oi_border_position_center text-center">
                    <h2 class="oi_icon_titile">ONE MORE TITLE</h2>
                    <div class="oi_heading_border oi_border_position_center text-center"><span></span></div>
                    <p class="oi_icon_sub_titile">We bring a crafted and inspired approach to every project we work on, which is why our clients love us and why they keep coming back.</p>
                  </div>
                </div>
                <a class="oi_vc_button" data-title-color-hover="#ffffff" data-bg-color-hover="#dd3333" data-border-c-hover="#dd3333" href="#"  target="_self">GET THIS</a> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pf-item-2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="oi_custom_heading_holder">
                <div class="oi_vc_heading oi_border_position_none text-center">
                  <h2 class="oi_icon_titile">STAND OUT!</h2>
                  <p class="oi_icon_sub_titile">We bring a crafted and inspired approach to every project we work on, which is why our clients love us and why they keep coming back.</p>
                </div>
              </div>
              <div class="mb-20 text-center"> <img src="../dist/images/img/sep.png" class="img-fluid" alt="" /> </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 offset-md-1">
              <div class="text-column" >
                <p>In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Cras sagittis. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.</p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="text-column" >
                <p>Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Sed fringilla mauris sit amet nibh. Duis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Fusce commodo aliquam arcu.</p>
              </div>
            </div>
          </div>
          <div class="row mb-80">
            <div class="col-md-4 offset-md-4 text-center"> <img src="../dist/images/img/thats-all.png" class="img-fluid" alt=""/> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="port_navi">
    <div class="oi_port_nav oi_main_port_nav">
      <div class="row">
        <div class="col-6 oi_np_holder pf-item-prev"> <span class="oi_np_link"><a href="portfolio-item-5.html" rel="next"><span class="oi_a_holder"><i class="fa fa-long-arrow-left fa-fw"></i> <span class="np_t">Coffe Cup</span></span></a></span> </div>
        <div class="col-6 oi_np_holder pf-item-next"> <span class="oi_np_link"><a href="portfolio-item-7.html" rel="prev"><span class="oi_a_holder"><span class="np_t">Fabric Bag</span> <i class="fa fa-long-arrow-right fa-fw"></i></span></a></span> </div>
      </div>
    </div>
  </div>
  {% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>