<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Paper Wrap Wine Bottle &#8211; Gravity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/portfolio-item-8.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="woo_active standard_page light_bg have_featured_image">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> <a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <div class="port_f_descr">
            <h1>Paper Wrap Wine Bottle</h1>
            <div class="enty-meta"><strong>Client: </strong>Envato Corporation<br>
              <strong>Managers: </strong> Mark Russo &amp; Kate Lima<br>
              <strong>Website: </strong><a href="http://www.themeforest.net">http://www.themeforest.net</a><br>
              <br>
              <em>The description is not prominent by default, however you may use it as you want even with HTML Tags.</em></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon"> <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a> <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <span class="shop_cart_full"></span></a> </div>

{% set now_portfolio="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div class="this_page oi_page_holder">
  <div class="oi_sinle_portfolio_holder">
    <div class="container">
      <div class="oi_portfolio_page_holder">
        <div class="row mb-100 full-height align-items-center d-flex">
          <div class="col-md-6 offset-md-3">
              <img src="../dist/images/img/royal.png" class="img-fluid" alt="" />
                <div class="oi_custom_heading_holder">
                  <div class="oi_vc_heading oi_border_position_bottom text-center">
                    <h2 class="oi_icon_titile">COLLI RIPANI COLLECTION</h2>
                    <h5 class="oi_icon_sub_titile">To discover a place through its wine.</h5>
                    <div class="oi_heading_border oi_border_position_bottom text-center"><span></span></div>
                  </div>
                </div>
                <div class="text-column text-center">
                    This is what the Colli Ripani Collection, the brand’s most extensive range, recommends to those it meets along its path. It is a true journey, in every sense of the word.
                </div>
          </div>
        </div>
        <div class="row mb-40">
          <div class="col-md-12">
              <a href="../dist/images/img/w1.png" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/w1.png" alt="" /> </div>
              </a>
          </div>
        </div>
        <div class="row mb-40">
          <div class="col-md-6">
              <a href="../dist/images/img/w3.png" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/w3.png" alt="" /> </div>
              </a>
          </div>
          <div class="col-md-6">
              <a href="../dist/images/img/w4.png" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/w4.png" alt="" /> </div>
              </a>
          </div>
        </div>
        <div class="row mb-40">
          <div class="col-md-12">
              <a href="../dist/images/img/w5.png" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/w5.png" alt="" /> </div>
              </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
                <div class="oi_custom_heading_holder">
                  <div class="oi_vc_heading oi_border_position_bottom text-center">
                    <h3 class="oi_icon_titile">ONE MORE THING</h3>
                    <h5 class="oi_icon_sub_titile">To discover a place through its wine.</h5>
                    <div class="oi_heading_border oi_border_position_bottom text-center"><span></span></div>
                  </div>
                </div>
                <div class="text-column text-center">
                    Client: Cantina dei Colli Ripani<br />
                      Agency: Andrea Castelletti<br />
                      Creative Director and Concept Designer: Andrea Castelletti<br />
                      Art Directors / Graphic Designers: Andrea Castelletti, Camilla Gatti<br />
                      Copywriter: Camilla Boselli<br />
                      Photo: Hans Leopold Helm
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="port_navi">
      <div class="oi_port_nav oi_main_port_nav">
        <div class="row">
          <div class="col-6 oi_np_holder pf-item-prev"> <span class="oi_np_link"><a href="portfolio-item-7.html" rel="next"><span class="oi_a_holder"><i class="fa fa-long-arrow-left fa-fw"></i> <span class="np_t">Fabric Bag</span></span></a></span> </div>
          <div class="col-6 oi_np_holder pf-item-next"> <span class="oi_np_link"><a href="portfolio-item-9.html" rel="prev"><span class="oi_a_holder"><span class="np_t">Wine Box</span> <i class="fa fa-long-arrow-right fa-fw"></i></span></a></span> </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>