<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Portfolio Style IV &#8211; Gravity</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/portfolio-3.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>

</head>

<body class="woo_active standard_page light_bg have_featured_image featured_image_pattern ">
<div class="preload"></div>
<div class="header">
    <div class="logo_holder"> <a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
    <div class="contacts">
        <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
    </div>
    <div id="site-header-social-menu" class="social-navigation">
        <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
            <div class="menu-social-menu-container">
                <ul id="menu-social-menu" class="social-menu">
                    <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                    <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- .social-navigation --> 
    </div>
    <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
    <div class="page_description_over"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="page_description">
                    <h1>Portfolio Style IV</h1>
                    We bring a crafted and inspired approach to every project we work on, which is why our clients love us! </div>
            </div>
        </div>
    </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon"> <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a> <a class="my_shop_icon" href="cart.cart" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> </div>

{% set now_portfolio="current-menu-item current_page_item" %}
{% set now_portfolio_4="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div>
    <div class="potfolio_container_holder">
        <div class="st_sf_page_holder st_sf_without_sidebar">
            <div class="st_sf_s_t_wo_s">
                <div class="st_sf_port_filter_holder">
                    <div class="st_sf_port_filter" id="filters">
                        <ul class="st_sf_list_cats">
                            <li class="cat-item"><a href="#" data-filter="*" class="filter_button">All Works</a></li>
                            <li><a href="#" data-filter=".mocup" class="filter_button">MocUp</a></li>
                            <li><a href="#" data-filter=".vector" class="filter_button">Vector</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row st_sf_port_container st_sf_wall">
                    <div class="st_sf_strange_portfolio_item st_sf_port_style_ii st_sf_col col-md-4 st_sf_x1 mocup vector pfolio-1">
                        <div class="st_sf_vc_potrfolio">
                        	<a href="portfolio-item.html">
                                <div class="st_sf_vc_port_mask">
                                    <div class="text-center"> <i class="fa fa-eye"></i>
                                        <div class="hover_overlay">
                                            <h3 class="st_sf_sub_legend">Cratf Beer MockUp</h3>
                                            <div class="st_sf_vc_sep"></div>
                                            <div class="st_sf_vc_port_cat">MocUp, Vector</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                         </div>
                    </div>
                    <div class="st_sf_strange_portfolio_item st_sf_port_style_ii st_sf_col col-md-4 st_sf_x1 mocup vector pfolio-2">
                        <div class="st_sf_vc_potrfolio">
                        	<a href="portfolio-item-1.html">
                                <div class="st_sf_vc_port_mask">
                                    <div class="text-center"> <i class="fa fa-eye"></i>
                                        <div class="hover_overlay">
                                            <h3 class="st_sf_sub_legend">Papper Bag</h3>
                                            <div class="st_sf_vc_sep"></div>
                                            <div class="st_sf_vc_port_cat">MocUp, Vector</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="st_sf_strange_portfolio_item st_sf_port_style_ii st_sf_col col-md-4 st_sf_x1 mocup pfolio-3">
                        <div class="st_sf_vc_potrfolio">
                        	<a href="portfolio-item-2.html">
                                <div class="st_sf_vc_port_mask">
                                    <div class="text-center"> <i class="fa fa-eye"></i>
                                        <div class="hover_overlay">
                                            <h3 class="st_sf_sub_legend">The Faric bag</h3>
                                            <div class="st_sf_vc_sep"></div>
                                            <div class="st_sf_vc_port_cat">MocUp</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="st_sf_strange_portfolio_item st_sf_port_style_ii st_sf_col col-md-4 st_sf_x1 mocup vector pfolio-4">
                        <div class="st_sf_vc_potrfolio">
                            <a href="portfolio-item-3.html">
                                <div class="st_sf_vc_port_mask">
                                    <div class="text-center"> <i class="fa fa-eye"></i>
                                        <div class="hover_overlay">
                                            <h3 class="st_sf_sub_legend">Another Bag</h3>
                                            <div class="st_sf_vc_sep"></div>
                                            <div class="st_sf_vc_port_cat">MocUp, Vector</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                      	</div>
                    </div>
                    <div class="st_sf_strange_portfolio_item st_sf_port_style_ii st_sf_col col-md-4 st_sf_x1 vector pfolio-5">
                        <div class="st_sf_vc_potrfolio">
                        	<a href="#">
                                <div class="st_sf_vc_port_mask">
                                    <div class="text-center"> <i class="fa fa-eye"></i>
                                        <div class="hover_overlay">
                                            <h3 class="st_sf_sub_legend">Suare Book</h3>
                                            <div class="st_sf_vc_sep"></div>
                                            <div class="st_sf_vc_port_cat">Vector</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="st_sf_strange_portfolio_item st_sf_port_style_ii st_sf_col col-md-4 st_sf_x1 mocup pfolio-6">
                        <div class="st_sf_vc_potrfolio">
                        <a href="#">
                            <div class="st_sf_vc_port_mask"  style="background:#DED68B">
                                <div class="text-center"> <i class="fa fa-eye"></i>
                                    <div class="hover_overlay">
                                        <h3 class="st_sf_sub_legend">Coffe Cup</h3>
                                        <div class="st_sf_vc_sep"></div>
                                        <div class="st_sf_vc_port_cat">MocUp</div>
                                    </div>
                                </div>
                            </div>
                            </a> </div>
                    </div>
                </div>
                <div class="st_sf_load_more_holder">
                    <div class="st_sf_lmc_holder">
                    	<span> <span class="st_sf_counts"><span id="st_sf_masorny_posts_per_page">6</span> / <span id="st_sf_max_masorny_posts">12</span></span> <a id="load_more_port_masorny_posts" data-tag="All" data-offset="6" data-layout-mode="Square Thumbnails Without Spaces" data-load-posts_count="20"  class="st_sf_load_more"><span>Load More </span></a> </span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>