<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Health goth retro typewriter, semiotics skateboard &#8211; Gravity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/post.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="woo_active standard_page dark_bg have_featured_image">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> <a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>Health goth retro typewriter, semiotics skateboard</h1>
          <div class="enty-meta">April 7, 2017</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon"> <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a> <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> </div>

{% set now_blog="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 with_sidebar_article">
      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
          <div class="entry-content">
            <div class="row">
              <div class="col-md-12 mb-30">
                <h3>Contrary to popular belief, Lorem Ipsum is not simply random text.</h3>
                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
              </div>
            </div>
            <div class="row mb-20">
              <div class="col-md-12">
                <hr />
                <blockquote>
                  <p> Hi there! I&#8217;m a bike messenger by day, aspiring actor by night, and this is my blog. I live in Los Angeles, have a great dog named Jack. </p>
                </blockquote>
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="mb-20">
                	<a href="../dist/images/img/isometric_words.jpg" data-rel="lightcase:gallery_name:slideshow">
                  		<div class="oi_ff_img_holder"><img src="../dist/images/img/isometric_words.jpg" class="img-fluid" alt="" /></div>
                  	</a>
                  </div>
              </div>
              <div class="col-md-8 mb-30">
                <h4>What about headings?</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                <p><em>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</em></p>
                <p><strong>And some <a href="#">link example</a> here</strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-30">
                <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth.</p>
                <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-40" >
                  <p>Pitchfork semiotics keytar whatever, mixtape narwhal ramps sartorial kogi roof party butcher small batch fanny pack. Asymmetrical farm-to-table austin, PBR&amp;B beard mumblecore tumblr shoreditch 3 wolf moon cronut. Artisan normcore YOLO paleo, aesthetic distillery cred health goth gochujang. Kickstarter humblebrag lo-fi cronut, gochujang pork belly street art put a bird on it pitchfork paleo banh mi four loko kale chips. Health goth retro typewriter, semiotics skateboard try-hard poutine fanny pack mlkshk 90&#8217;s before they sold out.</p>
                </div>
                <div class="oi_custom_heading_holder">
                  <div class="oi_vc_heading oi_border_position_bottom text-center">
                    <div class="oi_heading_icon oi_heading_icon_center"><i class="fa fa-picture-o"></i></div>
                    <h3 class="oi_icon_titile">Gallery</h3>
                    <p class="oi_icon_sub_titile">Another awesome example</p>
                    <div class="oi_heading_border oi_border_position_bottom text-center"><span></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-30">
              <div class="col-md-6"> <a href="../dist/images/img/blog11.jpg" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/blog11.jpg" alt="" /> </div>
                </a> </div>
              <div class="col-md-6"> <a href="../dist/images/img/blog10.jpg" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/blog10.jpg" alt="" /> </div>
                </a> </div>
            </div>
            <div class="row mb-30">
              <div class="col-md-4"> <a href="../dist/images/img/blog3.jpg" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/blog3.jpg" alt="" /> </div>
                </a> </div>
              <div class="col-md-4"> <a href="../dist/images/img/blog1.jpg" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/blog1.jpg" alt="" /> </div>
                </a> </div>
              <div class="col-md-4"> <a href="../dist/images/img/blog6.jpg" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/blog6.jpg" alt="" /> </div>
                </a> </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-40" >
                  <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth.</p>
                  <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.</p>
                </div>
              </div>
            </div>
            <div class="row mb-40">
              <div class="col-md-12">
                <div class="oi_custom_heading_holder">
                  <div class="oi_vc_heading oi_border_position_bottom text-center">
                    <div class="oi_heading_icon oi_heading_icon_center"><i class="fa fa-picture-o"></i></div>
                    <h3 class="oi_icon_titile">Single Image</h3>
                    <p class="oi_icon_sub_titile">Another awesome example</p>
                    <div class="oi_heading_border oi_border_position_bottom text-center"><span></span></div>
                  </div>
                 </div>
                <a href="../dist/images/img/onepageheader-1920x1255.jpg" data-rel="lightcase:gallery_name:slideshow">
                <div class="oi_ff_img_holder"> <img class="img-fluid" src="../dist/images/img/onepageheader-1920x1255.jpg" alt="" /> </div>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-40" >
                  <p>Pellentesque a bibendum sem, non facilisis lectus. Fusce vitae aliquet lorem, eget laoreet arcu. Duis tristique ligula malesuada nulla lobortis, sed faucibus mauris ultricies. Aenean a convallis tellus. Suspendisse potenti. Nullam eu neque vel odio porttitor posuere nec vel mi. Suspendisse aliquam scelerisque pretium. Nunc eleifend nisi in ligula tempus sagittis. Suspendisse sed ullamcorper libero. Pellentesque ac pellentesque erat, et convallis augue.</p>
                  <p>Curabitur vitae metus aliquam, fermentum nisl sed, faucibus dui. Cras a dui diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec posuere congue turpis at auctor. Suspendisse sit amet arcu libero.</p>
                </div>
                <div class="oi_custom_heading_holder">
                  <div class="oi_vc_heading oi_border_position_bottom text-center">
                    <div class="oi_heading_icon oi_heading_icon_center"><i class="fa fa-file-audio-o"></i></div>
                    <h3 class="oi_icon_titile">Audio Example</h3>
                    <p class="oi_icon_sub_titile">Another awesome example</p>
                    <div class="oi_heading_border oi_border_position_bottom text-center"><span></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row bpost-audio">
              <div class="col-md-6 offset-md-3">
                <p>
                  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/111014943&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" width="100%" height="450" frameborder="no" scrolling="no"></iframe>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-40" >
                  <p>Pellentesque a bibendum sem, non facilisis lectus. Fusce vitae aliquet lorem, eget laoreet arcu. Duis tristique ligula malesuada nulla lobortis, sed faucibus mauris ultricies. Aenean a convallis tellus. Suspendisse potenti. Nullam eu neque vel odio porttitor posuere nec vel mi. Suspendisse aliquam scelerisque pretium. Nunc eleifend nisi in ligula tempus sagittis. Suspendisse sed ullamcorper libero. Pellentesque ac pellentesque erat, et convallis augue.</p>
                  <p>Curabitur vitae metus aliquam, fermentum nisl sed, faucibus dui. Cras a dui diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec posuere congue turpis at auctor. Suspendisse sit amet arcu libero.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="oi_custom_heading_holder">
                  <div class="oi_vc_heading oi_border_position_bottom text-center">
                    <div class="oi_heading_icon oi_heading_icon_center"><i class="fa fa-youtube"></i></div>
                    <h3 class="oi_icon_titile">YouTube Video</h3>
                    <p class="oi_icon_sub_titile">Another awesome example</p>
                    <div class="oi_heading_border oi_border_position_bottom text-center"><span></span></div>
                  </div>
                </div>
                <div class="embed-responsive embed-responsive-16by9 mb-40">
                	<iframe class="embed-responsive-item" width="1140" height="641" src="https://www.youtube.com/embed/P22gcb4YHso?feature=oembed" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-40" >
                  <p>Nam nec lacus ut ligula dictum tincidunt. Sed volutpat malesuada dolor, ac vehicula tellus ultrices ac. Mauris varius imperdiet tortor et maximus. Sed non dui ac lectus molestie pulvinar ac elementum odio. Nulla non tincidunt justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas vitae consectetur ligula, nec tempus metus.</p>
                  <p>Donec elementum cursus nisl, quis euismod ligula vestibulum ac. Duis consectetur lacinia volutpat. Donec dictum tellus arcu, id rutrum lorem dignissim quis. Integer venenatis tristique ipsum, ac fringilla magna suscipit eget.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="oi_custom_heading_holder">
                  <div class="oi_vc_heading oi_border_position_bottom text-center">
                    <div class="oi_heading_icon oi_heading_icon_center"><i class="fa fa-vimeo-square"></i></div>
                    <h3 class="oi_icon_titile">VImeo Video</h3>
                    <p class="oi_icon_sub_titile">Another awesome example</p>
                    <div class="oi_heading_border oi_border_position_bottom text-center"><span></span></div>
                  </div>
                </div>
                <div class="embed-responsive embed-responsive-16by9 mb-40">
                	<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/94715871" width="1140" height="641" frameborder="0" title="Adidas World Cup &quot;Black + White&quot;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>Nam nec lacus ut ligula dictum tincidunt. Sed volutpat malesuada dolor, ac vehicula tellus ultrices ac. Mauris varius imperdiet tortor et maximus. Sed non dui ac lectus molestie pulvinar ac elementum odio. Nulla non tincidunt justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas vitae consectetur ligula, nec tempus metus.</p>
                <p>Donec elementum cursus nisl, quis euismod ligula vestibulum ac. Duis consectetur lacinia volutpat. Donec dictum tellus arcu, id rutrum lorem dignissim quis. Integer venenatis tristique ipsum, ac fringilla magna suscipit eget.</p>
              </div>
            </div>
          </div>
          <!-- .entry-content -->
          
          <div class="entry-footer"> <span class="cat-links"><span class="screen-reader-text">Category: </span><a href="#" rel="category tag">Video</a></span><span class="tags-links"><span class="screen-reader-text">Tags: </span><a href="#" rel="tag">Some Tag</a></span> </div>
          <!-- .entry-footer --> 
          <!-- #post-## -->
          <div id="comments" class="post-comments">
            <div id="respond" class="comment-respond">
              <h3 id="reply-title" class="title-comments">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/guro/gravity/2017/04/07/health-goth-retro-typewriter-semiotics-skateboard/#respond" style="display:none;">Cancel reply</a></small></h3>
              <form method="post" id="commentform" class="comment-form" novalidate>
                <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                <p class="comment-form-comment">
                  <label for="comment">Comment</label>
                  <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required></textarea>
                </p>
                <p class="comment-form-author">
                  <label for="author">Name <span class="required">*</span></label>
                  <input id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required="true" required="required" />
                </p>
                <p class="comment-form-email">
                  <label for="email">Email <span class="required">*</span></label>
                  <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required="true" required="required" />
                </p>
                <p class="comment-form-url">
                  <label for="url">Website</label>
                  <input id="url" name="url" type="url" value="" size="30" maxlength="200" />
                </p>
                <p class="form-submit">
                  <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                </p>
              </form>
            </div>
            <!-- #respond --> 
            
          </div>
          <!-- .comments-area --> 
        </main>
        <!-- .site-main --> 
      </div>
      <!-- .content-area --> 
    </div>
    <div class="col-md-4" id="oi_blog_sb">
      <section id="search-5" class="widget widget_search">
        <h5 class="widget-title">Lost Something?</h5>
        <form method="get" id="searchform_sidebar" >
          <div class="row">
            <div class="col-md-12">
              <input type="hidden" name="post_type" value="post" />
              <input type="text" value="Enter Keyword &amp; Hit Enter " name="s" id="s"  onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
            </div>
          </div>
        </form>
      </section>
      <section id="categories-2" class="widget widget_categories">
        <h5 class="widget-title">Categories</h5>
        <ul>
          <li class="cat-item cat-item-17"><a href="#" >Innovations</a> </li>
          <li class="cat-item cat-item-18"><a href="#" >Lifestyle</a> </li>
          <li class="cat-item cat-item-1"><a href="#" >Uncategorized</a> </li>
          <li class="cat-item cat-item-19"><a href="#" >Video</a> </li>
        </ul>
      </section>
      <section id="calendar-2" class="widget widget_calendar">
        <div id="calendar_wrap" class="calendar_wrap">
          <table id="wp-calendar">
            <caption>
            April 2017
            </caption>
            <thead>
              <tr>
                <th scope="col" title="Monday">M</th>
                <th scope="col" title="Tuesday">T</th>
                <th scope="col" title="Wednesday">W</th>
                <th scope="col" title="Thursday">T</th>
                <th scope="col" title="Friday">F</th>
                <th scope="col" title="Saturday">S</th>
                <th scope="col" title="Sunday">S</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="3" id="prev"><a href="#">&laquo; Mar</a></td>
                <td class="pad">&nbsp;</td>
                <td colspan="3" id="next"><a href="#">Aug &raquo;</a></td>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td colspan="5" class="pad">&nbsp;</td>
                <td>1</td>
                <td>2</td>
              </tr>
              <tr>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td><a href="#" aria-label="Posts published on April 7, 2017">7</a></td>
                <td>8</td>
                <td>9</td>
              </tr>
              <tr>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
              </tr>
              <tr>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
              </tr>
              <tr>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section id="text-6" class="widget widget_text">
        <h5 class="widget-title">Advertising</h5>
        <div class="textwidget">
          <p><a href="#"><img src="../dist/images/img/1.png" alt="ads"></a></p>
          <hr style="margin:20px 0; opacity:0.4">
          <a href="#"><img src="../dist/images/img/2.png" alt="ads"></a>
        </div>
      </section>
      <section id="tag_cloud-2" class="widget widget_tag_cloud">
        <h5 class="widget-title">Tag Cloud</h5>
        <div class="tagcloud">
        	<a href="#" class="tag-cloud-link tag-link-20" style="font-size: 22pt;" aria-label="Awesome (3 items)">Awesome</a>
            <a href="#" class="tag-cloud-link" style="font-size: 22pt;" aria-label="New (3 items)">New</a>
            <a href="#" class="tag-cloud-link" style="font-size: 22pt;" aria-label="PHP (3 items)">PHP</a>
            <a href="#" class="tag-cloud-link" style="font-size: 8pt;" aria-label="Post (1 item)">Post</a>
            <a href="#" class="tag-cloud-link" style="font-size: 8pt;" aria-label="Some Tag (1 item)">Some Tag</a>
            <a href="#" class="tag-cloud-link" style="font-size: 16.4pt;" aria-label="Wordpress (2 items)">Wordpress</a>
        </div>
      </section>
    </div>
  </div>
</div>
{% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>
