<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>NOW LET&#8217;S TALK ABOUT THE MONEY &#8211; Gravity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/service.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="woo_active standard_page light_bg half_screen_fi have_featured_image">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> <a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>NOW LET&#8217;S TALK ABOUT THE MONEY</h1>
          <p>We love to work with startups because they are as passionate as we are about their products. We will help to find solution for you.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder">
	<span class="icon_menu" aria-hidden="true"></span>
</div>
<div class="shoping_cart_icon">
	<a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a>
    <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
</div>

{% set now_services="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
  <main id="main" class="site-main">
    <div class="container">
      <div class="row serv-1">
        <div class="col-md-8 offset-md-2">
          <div class="oi_custom_heading_holder">
            <div class="oi_vc_heading oi_border_position_none text-center">
              <h2 class="oi_icon_titile">WE OFFERING</h2>
              <p class="oi_icon_sub_titile">We bring a crafted and inspired approach to every project we work on, which is why our clients love us and why they keep coming back.</p>
            </div>
          </div>
          <div class="text-center mb-4">
          	<img width="150" height="48" src="../dist/images/img/sep.png" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="item-service main-1-s1">
            <h2 class="item-serv-title">&lt; HTML /&gt;</h2>
            <div class="item-serv-descr"> <strong>Start</strong> WIth Fresh </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item-service main-1-s2">
            <h2 class="item-serv-title">WORDPRESS</h2>
            <div class="item-serv-descr"> <strong>Theme</strong> Development </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item-service main-1-s3">
            <h2 class="item-serv-title">SEO</h2>
            <div class="item-serv-descr"> <strong>Boost</strong> Your Site </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row serv-2">
        <div class="text-md-right mobile_text_left col-md-6">
          <div class="oi_custom_heading_holder">
            <div class="oi_heading_icon oi_heading_icon_right"><i class="typcn typcn-device-tablet"></i></div>
            <div class="oi_vc_heading oi_border_position_bottom">
              <h4 class="oi_icon_titile">Graphic Design</h4>
              <p class="oi_icon_sub_titile">Raster &amp; Vector Ggraphics</p>
              <div class="oi_heading_border oi_border_position_bottom"><span></span></div>
            </div>
          </div>
          <div class="mb-4" >
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
          </div>
          <a class="oi_vc_button" data-title-color-hover="#ffffff" data-bg-color-hover="#aec71e" data-border-c-hover="#00f6ff" href="#"  target="_self">FIND OUT MORE</a>
          <div class="d-show d-md-none pt-5"></div>
        </div>
        <div class="col-md-6">
          <div class="oi_custom_heading_holder">
            <div class="oi_heading_icon oi_heading_icon_left"><i class="typcn typcn-flow-switch"></i></div>
            <div class="oi_vc_heading oi_border_position_bottom">
              <h4 class="oi_icon_titile">UI &amp; UX Design</h4>
              <p class="oi_icon_sub_titile">Another Subtitle Here</p>
              <div class="oi_heading_border oi_border_position_bottom"><span></span></div>
            </div>
          </div>
          <div class="mb-4" >
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
          </div>
          <a class="oi_vc_button" data-title-color-hover="#ffffff" data-bg-color-hover="#aec71e" data-border-c-hover="#00f6ff" href="#"  target="_self">FIND OUT MORE</a>
        </div>
      </div>
 	</div>
      <div id="testimoniials" class="row light_bg serv-3">
          <div class="container">
            <div class="vc_column-inner">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <div class="oi_custom_heading_holder mb-5">
                    <div class="oi_vc_heading oi_border_position_bottom text-center">
                      <div class="oi_heading_icon oi_heading_icon_center"><i class="li_star"></i></div>
                      <h1 class="oi_icon_titile">WHAT CLIENTS SAY</h1>
                      <p class="oi_icon_sub_titile">Based upon the information you provide, available developers give estimates. The Average + 15% Codeable Fee = Your Quote.</p>
                      <div class="oi_heading_border oi_border_position_bottom text-center"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="testimonialSlide" class="owl-carousel">
                <div class="item-testimon">
                  <div class="oi_testimonial_holder text-center">
                    <div class="oi_testimonial_content_holder">
                      <h3 class="oi_tesimonial_content">I bought this theme and i would like to recommend it to every one interested in building a website without knowledge of php or html. It is very convenient and the customer service is very reactive. I will say it in French “Bravo” for this work!</h3>
                    </div>
                    <div class="oi_testimonial_author_holder text-center"><img class="oi_oi_testimonial_image" src="../dist/images/img/l01.png" alt="">
                      <h6 class="oi_tesimonial_title text-center">Max Doe - Teme Buyer<br>
                        ThemeForest</h6>
                    </div>
                  </div>
                </div>
                <div class="item-testimon">
                  <div class="oi_testimonial_holder text-center">
                    <div class="oi_testimonial_content_holder">
                      <h3 class="oi_tesimonial_content">This is easily one of the best themes I've worked with. The customization panel allows for everything, which means I didn't have to sludge around in CSS or PHP at all. The customer support is also lightning fast. I will definitely be purchasing more themes from this author!</h3>
                    </div>
                    <div class="oi_testimonial_author_holder text-center"><img class="oi_oi_testimonial_image" src="../dist/images/img/l05.png" alt="">
                      <h6 class="oi_tesimonial_title text-center">Alex Doe - Teme Buyer<br>
                        Envato</h6>
                    </div>
                  </div>
                </div>
                <div class="item-testimon">
                  <div class="oi_testimonial_holder text-center">
                    <div class="oi_testimonial_content_holder">
                      <h3 class="oi_tesimonial_content">Bought the theme last week and really I must say the documentation is great and so it is fun to work with it! Thank you for your great job here, guys! Keep up the good work! 🙂</h3>
                    </div>
                    <div class="oi_testimonial_author_holder text-center"><img class="oi_oi_testimonial_image" src="../dist/images/img/l08.png" alt="">
                      <h6 class="oi_tesimonial_title text-center">SeriousToni<br>
                        ThemeForest</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     <div class="container">
      <div class="row serv-4">
        <div class="col-md-12">
          <div class="oi_custom_heading_holder">
            <div class="oi_vc_heading oi_border_position_center text-center">
              <h3 class="oi_icon_titile">CHOOSE YOUR PLAN</h3>
              <div class="oi_heading_border oi_border_position_center text-center"><span></span></div>
              <p class="oi_icon_sub_titile">Our pricing tables are a critical part in showcasing your services, prices and overall offerings.</p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row serv-5">
        <div class="col-md-6">
          <div class="oi_pt_holder oi_pt_standard">
            <div class="oi_pt_header">
              <h4 class="oi_pt_title"><span>Student</span></h4>
              <p class="oi_pt_desc">Awesome description</p>
              <span class="oi_pt_price"><span class="oi_pr_cur">$</span>9.99<span class="oi_pr_period">/mo</span></span> </div>
            <div class="clearfix"></div>
            <div>
              <ul class="oi_pt_list">
                <li class="oi_list_item">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-anchor-outline"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Community Features</p>
                  </div>
                </li>
                <li class="oi_list_item">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-calculator"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Free Resources</p>
                  </div>
                </li>
                <li class="oi_list_item">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-support"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Regular Support</p>
                  </div>
                </li>
                <li class="oi_list_item oi_not_active">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-cog-outline"></i> </div>
                  </div>
                  <div class="oi_list_item_icon_holder oi_icon_center">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-cog-outline"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Premium Support</p>
                  </div>
                  <div class="oi_list_item_icon_holder oi_icon_right">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-cog-outline"></i> </div>
                  </div>
                </li>
                <li class="oi_list_item oi_not_active">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-download-outline"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Unlimited downloads</p>
                  </div>
                </li>
                <li class="oi_list_item oi_not_active">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-leaf"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Premium Features</p>
                  </div>
                </li>
                <a class="oi_vc_button" data-title-color-hover="#ffffff" data-bg-color-hover="#aec71e" data-border-c-hover="#00f6ff" href="#"  target="_self">Subscribe</a>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="oi_pt_holder oi_pt_featured">
            <div class="oi_pt_header">
              <h4 class="oi_pt_title"><span>Professional</span></h4>
              <p class="oi_pt_desc">Best deal!</p>
              <span class="oi_pt_price"><span class="oi_pr_cur">$</span>14.99<span class="oi_pr_period">/mo</span></span> </div>
            <div class="clearfix"></div>
            <div>
              <ul class="oi_pt_list">
                <li class="oi_list_item">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-anchor-outline"></i></div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Community Features</p>
                  </div>
                </li>
                <li class="oi_list_item">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-calculator"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Free Resources</p>
                  </div>
                </li>
                <li class="oi_list_item">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-support"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Regular Support</p>
                  </div>
                </li>
                <li class="oi_list_item">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-cog-outline"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Premium Support</p>
                  </div>
                </li>
                <li class="oi_list_item">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-download-outline"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Unlimited downloads</p>
                  </div>
                </li>
                <li class="oi_list_item">
                  <div class="oi_list_item_icon_holder oi_icon_left">
                    <div class="oi_icon_inner_holder"> <i class="typcn typcn-leaf"></i> </div>
                  </div>
                  <div class="oi_list_item_content_holder">
                    <p class="oi_item_title">Premium Features</p>
                  </div>
                </li>
                <a class="oi_vc_button" data-title-color-hover="#ffffff" data-bg-color-hover="#aec71e" data-border-c-hover="#00dadd" href="#" target="_self">Subscribe</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
     </div>
     <div class="footer-line">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
                  <div class="oi_custom_heading_holder mb-0">
                    <div class="oi_vc_heading oi_border_position_right text-right">
                      <h2 class="oi_icon_titile">HIRE US RIGHT NOW!</h2>
                      <p class="oi_icon_sub_titile">+1(777)123-45-67 / info@gravity.com</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
             <a class="oi_vc_button" data-title-color-hover="#ffffff" data-bg-color-hover="#aec71e" data-border-c-hover="#e83b23" href="#" data-remodal-target="contacts">LET'S DO MAGIC</a>
              <div class="remodal" data-remodal-id="contacts">
                <button data-remodal-action="close" class="remodal-close"></button>
                <h2>Stay In Touch</h2>
                <p>+1 (132) 123-456-7890 | hello@website.com</p>
                <hr />
                <div role="form" class="wpcf7">
				  <form method="post">
					<div class="row text-left">
					  <div class="col-md-6">
						<input class="form-name" type="text" name="your-name" value="" size="40" placeholder="NAME" />
					  </div>
					  <div class="col-md-6">
						<input class="form-email" type="email" name="your-email" value="" size="40" placeholder="E-MAIL" />
					  </div>
					  <div class="col-md-12">
						<input class="form-subject" type="text" name="subject" value="" size="40" placeholder="SUBJECT" />
					  </div>
					  <div class="col-md-12">
						<textarea class="form-message" name="your-message" cols="5" rows="2" placeholder="MESSAGE"></textarea>
					  </div>
					  <div class="col-md-12">
						<p class="text-center mb-0">
						  <input class="send-form" type="submit" value="SEND MESSAGE" />
						</p>
					  </div>
					</div>
					<div class="wpcf7-response-output wpcf7-display-none"></div>
				  </form>
				</div>
              </div>
            </div>
          </div>
      	</div>

      </div>
  </main>
  <!-- .site-main --> 
  
</div>
<!-- .content-area -->

{% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>