<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Products &#8211; Gravity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/shop.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="woocommerce woocommerce-page woo_active standard_page dark_bg half_screen_fi have_featured_image products_per_row_3">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> 
  	<a href="index.html"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a>
  </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>Gravity Store</h1>
          Ttheme comes with ready to use layouts for different ecommerce industries such as fashion, electronics, furniture, digital, sports, jewelry and other. </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon">
    <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a>
    <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span>
</div>

{% set now_shop="current-menu-item current_page_item" %}
{% set now_shop_gravity="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">
    <div class="container">
      <div id="shop_area">
        <div class="woo_area">
          <div class="row">
            <div class="col-md-12">
              <div class="page-description">
                <p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="oi_custom_heading_holder">
                      <div class="oi_vc_heading oi_border_position_none">
                        <h1 class="oi_icon_titile">Company Shop</h1>
                        <p class="oi_icon_sub_titile">Full featured woocommerce</p>
                      </div>
                    </div>
                  </div>
                </div>
                </p>
              </div>
              <p class="woocommerce-result-count"> Showing 1&ndash;9 of 20 results</p>
              <form class="woocommerce-ordering" method="get">
                <select name="orderby" class="orderby">
                  <option value="menu_order" selected>Default sorting</option>
                  <option value="popularity" >Sort by popularity</option>
                  <option value="rating" >Sort by average rating</option>
                  <option value="date" >Sort by newness</option>
                  <option value="price" >Sort by price: low to high</option>
                  <option value="price-desc" >Sort by price: high to low</option>
                </select>
              </form>
              <ul class="products">
                <li class="product product_cat-glasses use-star-ratings first instock">
                	<a href="shop-item.html">
                    	<img class="img-fluid" src="../dist/images/img/20.jpeg" alt=""/>
                  		<h2 class="woocommerce-loop-product__title">Acetate Glasses</h2>
                  		<span class="price"><span class="amount"><span>&#36;</span>28.00</span></span>
                    </a>
                </li>
                <li class="product sale">
                    <a href="shop-item.html">
                        <span class="onsale">Sale!</span>
                        <img class="img-fluid" src="../dist/images/img/2.jpeg" alt="" />
                        <h2 class="woocommerce-loop-product__title">Arrow Signature Glasses</h2>
                        <span class="price"><del><span class="amount"><span>&#36;</span>80.00</span></del> <ins><span class="amount"><span>&#36;</span>79.00</span></ins></span>
                    </a>
                </li>
                <li class="product use-star-ratings last instock">
                	<a href="shop-item.html">
                    	<img class="img-fluid" src="../dist/images/img/3.jpg" alt="" />
                  		<h2 class="woocommerce-loop-product__title">Black Overcoat</h2>
                  		<span class="price"><span class="amount"><span>&#36;</span>129.00</span></span>
                    </a>
                </li>
                <li class="product use-star-ratings first instock sale">
                    <a href="shop-item.html">
                        <span class="onsale">Sale!</span>
                        <img class="img-fluid" src="../dist/images/img/1-1.jpg" alt=""/>
                        <h2 class="woocommerce-loop-product__title">Black Snapback</h2>
                        <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                        <span class="price"><del><span class="amount"><span>&#36;</span>20.00</span></del> <ins><span class="amount"><span>&#36;</span>10.00</span></ins></span>
                    </a>
                </li>
                <li class="product">
                    <a href="shop-item.html">
                        <img class="img-fluid" src="../dist/images/img/6.jpeg" alt="" />
                        <h2 class="woocommerce-loop-product__title">Black Sneaker</h2>
                        <span class="price"><span class="amount"><span>&#36;</span>57.00</span></span>
                    </a>
                </li>
                <li class="product last featured">
                    <a href="shop-item.html">
                        <img class="img-fluid" src="../dist/images/img/4.jpg" alt="" />
                        <h2 class="woocommerce-loop-product__title">Black-Ice Pullover Hoodie</h2>
                        <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                        <span class="price"><span class="amount"><span>&#36;</span>140.00</span></span>
                 	</a>
                </li>
                <li class="product first sale">
                    <a href="shop-item.html">
                        <span class="onsale">Sale!</span>
                        <img class="img-fluid" src="../dist/images/img/16.jpeg" alt="" />
                        <h2 class="woocommerce-loop-product__title">Canvas Sneaker</h2>
                        <span class="price"><del><span class="amount"><span>&#36;</span>799.00</span></del> <ins><span class="amount"><span>&#36;</span>699.00</span></ins></span>
                    </a>
                </li>
                <li class="product">
                    <a href="shop-item.html">
                        <img class="img-fluid" src="../dist/images/img/8.jpg" alt=""/>
                        <h2 class="woocommerce-loop-product__title">Cotton T-Shirt</h2>
                        <span class="price"><span class="amount"><span>&#36;</span>35.00</span></span>
                    </a>
                </li>
                <li class="product last instock">
                    <a href="shop-item.html">
                        <img class="img-fluid" src="../dist/images/img/18.jpeg" alt=""/>
                        <h2 class="woocommerce-loop-product__title">Curves Glasses</h2>
                        <span class="price"><span class="amount"><span>&#36;</span>49.00</span></span>
                    </a>
                </li>
              </ul>
              <nav class="woocommerce-pagination">
                <ul class="page-numbers">
                  <li><span aria-current="page" class="page-numbers current">1</span></li>
                  <li><a class="page-numbers" href="#">2</a></li>
                  <li><a class="page-numbers" href="#">3</a></li>
                  <li><a class="next page-numbers" href="#">&rarr;</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="sidebar_area">
          <div id="oi_blog_sb">
            <section id="woocommerce_product_search-2" class="widget woocommerce widget_product_search">
              <h5 class="widget-title">Search Products?</h5>
              <form role="search" method="get" class="woocommerce-product-search">
                <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products&hellip;" value="" name="s" />
                <input type="submit" value="Search" />
                <input type="hidden" name="post_type" value="product" />
              </form>
            </section>
            <section id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
              <h5 class="widget-title">Filter by price</h5>
              <form method="get">
                <div class="price_slider_wrapper">
                  	<input type="text" id="range_slider" name="example_name" value="" data-min="10" data-max="699">
                    <button type="submit" class="button">Filter</button>
                    <div class="price_label">
						Price: <span class="from">$10</span> — <span class="to">$699</span>
					</div>
                    <div class="clear"></div>
                </div>
              </form>
            </section>
            <section id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
              <h5 class="widget-title">Product categories</h5>
              <ul class="product-categories">
                <li class="cat-item cat-item-28"><a href="#">Clothes</a></li>
                <li class="cat-item cat-item-29"><a href="#">Glasses</a></li>
                <li class="cat-item cat-item-30"><a href="#">Hats</a></li>
                <li class="cat-item cat-item-31"><a href="#">Shoes</a></li>
              </ul>
            </section>
            <section id="woocommerce_top_rated_products-2" class="widget woocommerce widget_top_rated_products">
              <h5 class="widget-title">Top rated products</h5>
              <ul class="product_list_widget">
                <li> <a href="shop-item.html"> <img class="img-fluid" src="../dist/images/img/4.jpg" alt="" /> <span class="product-title">Black-Ice Pullover Hoodie</span> </a>
                  <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                  <span class="amount"><span>&#36;</span>140.00</span></li>
                <li>
                	<a href="shop-item.html">
                    	<img class="img-fluid" src="../dist/images/img/1.jpg" alt="" />
                        <span class="product-title">Black Snapback</span>
                    </a>
                  	<div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                    <del><span class="amount"><span>&#36;</span>20.00</span></del>
                    <ins><span class="amount"><span>&#36;</span>10.00</span></ins>
               	</li>
                <li>
                    <a href="shop-item.html">
                        <img class="img-fluid" src="../dist/images/img/15.jpeg" alt="" />
                        <span class="product-title">Limited Edition Sneaker</span>
                    </a>
                    <span class="amount"><span>&#36;</span>200.00</span>
                </li>
              </ul>
            </section>
            <section id="woocommerce_products-2" class="widget woocommerce widget_products">
              <h5 class="widget-title">Featured Products</h5>
              <ul class="product_list_widget">
                <li>
                	<a href="shop-item.html">
                    	<img class="img-fluid" src="../dist/images/img/5.jpeg" alt="" />
                        <span class="product-title">Wool Blend Scarf</span>
                    </a>
                    <span class="amount"><span>&#36;</span>29.00</span>
                </li>
                <li>
                	<a href="shop-item.html">
                    	<img class="img-fluid" src="../dist/images/img/4.jpg" alt="" />
                        <span class="product-title">Black-Ice Pullover Hoodie</span>
                   	</a>
                    <span class="amount"><span>&#36;</span>140.00</span></li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- .site-main --> 
</div>
<!-- .content-area -->

{% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>