<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Acetate Glasses &#8211; Gravity</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="../dist/css/main.css">
<link rel="stylesheet" href="../dist/page/shop.css" type="text/css" media="all" />

<script type="text/javascript" src="../dist/js/allJquery.js"></script>
</head>

<body class="single woocommerce woocommerce-page woo_active standard_page dark_bg half_screen_fi have_featured_image products_per_row_3">
<div class="preload"></div>
<div class="header">
  <div class="logo_holder"> <a href="/"><img class="logo_for_dark_bg" src="../dist/images/img/logo_fff.png" alt="Gravity" /><img class="logo_for_light_bg" src="../dist/images/img/logo_000.png" alt="Gravity" /></a> </div>
  <div class="contacts">
    <p><span class="hide_mobile mr-5">93 Worth St, New York, NY</span> Call Us Now: (+003) 132-456-4789</p>
  </div>
  <div id="site-header-social-menu" class="social-navigation">
    <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">
      <div class="menu-social-menu-container">
        <ul id="menu-social-menu" class="social-menu">
          <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.behance.net/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- .social-navigation --> 
  </div>
  <!-- .site-header-social-menu --> 
</div>
<div class="page_featured">
  <div class="page_description_over"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="page_description">
          <h1>Gravity Store</h1>
          Ttheme comes with ready to use layouts for different ecommerce industries such as fashion, electronics, furniture, digital, sports, jewelry and other. </div>
      </div>
    </div>
  </div>
</div>
<div class="hamburger_holder"> <span class="icon_menu" aria-hidden="true"></span> </div>
<div class="shoping_cart_icon"> <a class="my_account_icon" href="account.html" title="My Account"><i class="fa fa-user" aria-hidden="true"></i> <span class="logged-in-username"></span></a> <a class="my_shop_icon" href="cart.html" title="Shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a> <span class="shop_cart_full"></span> </div>

{% set now_shop="current-menu-item current_page_item" %}
{% set now_shop_gravity="current-menu-item current_page_item" %}
{% include "../header.njk" %}

<div class="overlay"></div>
<div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">
    <div class="container">
      <div id="shop_area">
        <div class="woo_area">
          <div class="row">
            <div class="col-md-12">
              <div class="product first instock purchasable product-type-variable">
                <div class="images" data-columns="4">
                    <div class="woocommerce-product-gallery__image">
                  	<a href="../dist/images/img/20.jpeg" data-rel="lightcase:gallery"><img src="../dist/images/img/20.jpeg" class="attachment-shop_single size-shop_single wp-post-image" alt="" title="20" /></a>
                  </div>
                  <div class="woocommerce-product-gallery__image">
                  	<a href="../dist/images/img/20-1.jpeg" data-rel="lightcase:gallery"><img src="../dist/images/img/20-1.jpeg" class="attachment-shop_single size-shop_single" alt="" title="20-1" /></a>
                  </div>
                </div>
                <div class="summary entry-summary">
                  <h1 class="product_title entry-title">Acetate Glasses</h1>
                  <p class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>28.00</span></p>
                  <div class="woocommerce-product-details__short-description">
                    <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                  </div>
                  <form class="variations_form cart" method="post">
                    <table class="variations" cellspacing="0">
                      <tbody>
                        <tr>
                          <td class="label"><label for="color-palette">Color Palette</label></td>
                          <td class="value"><select id="color-palette" class="" name="attribute_color-palette" data-attribute_name="attribute_color-palette" data-show_option_none="yes">
                              <option value="">Choose an option</option>
                              <option value="Black" >Black</option>
                            </select></td>
                        </tr>
                        <tr>
                          <td class="label"><label for="head-size">Head Size</label></td>
                          <td class="value"><select id="head-size" class="" name="attribute_head-size" data-attribute_name="attribute_head-size" data-show_option_none="yes">
                              <option value="">Choose an option</option>
                              <option value="XXL" >XXL</option>
                              <option value="XL" >XL</option>
                              <option value="L"  selected="selected">L</option>
                              <option value="M" >M</option>
                            </select>
                            <a class="reset_variations" href="#">Clear</a></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="single_variation_wrap">
                      <div class="woocommerce-variation single_variation"></div>
                      <div class="woocommerce-variation-add-to-cart variations_button">
                        <div class="quantity">
                          <label class="screen-reader-text">Quantity</label>
                          <input type="number" class="input-text qty text" step="1" min="1" max="33" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" />
                        </div>
                        <button class="single_add_to_cart_button button alt">Add to cart</button>
                     </div>
                    </div>
                  </form>
                  <div class="product_meta"> <span class="sku_wrapper">SKU: <span class="sku">001</span></span> <span class="posted_in">Category: <a href="№" rel="tag">Glasses</a></span> </div>
                </div>
                <div class="clearfix"></div>
                <!-- .summary -->
                  <nav class="nav nav-tabs shop-tabs" id="myTab" role="tablist">
                   <a href="#tab-description" id="tab-title-description" class="nav-item nav-link active" data-toggle="tab" role="tab">Description</a>
                   <a href="#tab-additional_information" id="tab-title-additional_information" class="nav-item nav-link" data-toggle="tab" role="tab">Additional information</a>
                   <a href="#tab-reviews" id="tab-title-reviews" class="nav-item nav-link" data-toggle="tab" role="tab">Reviews (0)</a>
                  </nav>
                  <div class="tab-content shop-tabs" id="nav-tabContent">
                  <div class="tab-pane active" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                   <h2>Description</h2>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="text-column" >
                          <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="text-column" >
                          <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information">
                   <h2>Additional information</h2>
                    <table class="shop_attributes">
                      <tr>
                        <th>Weight</th>
                        <td class="product_weight">N/A</td>
                      </tr>
                      <tr>
                        <th>Dimensions</th>
                        <td class="product_dimensions">N/A</td>
                      </tr>
                      <tr>
                        <th>Color Palette</th>
                        <td><p>Black, White, Blue, Red</p></td>
                      </tr>
                      <tr>
                        <th>Head Size</th>
                        <td><p>XXL, XL, L, M</p></td>
                      </tr>
                    </table>
                  </div>
                  <div class="tab-pane" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                    <div id="reviews" class="woocommerce-Reviews">
                      <div id="comments">
                        <h2 class="woocommerce-Reviews-title">Reviews</h2>
                        <p class="woocommerce-noreviews">There are no reviews yet.</p>
                      </div>
                      <div id="review_form_wrapper">
                        <div id="review_form">
                          <div id="respond" class="comment-respond"> <span id="reply-title" class="comment-reply-title">Be the first to review &ldquo;Acetate Glasses&rdquo; <small><a rel="nofollow" id="cancel-comment-reply-link" href="/guro/gravity/product/acetate-glasses/#respond" style="display:none;">Cancel reply</a></small></span>
                            <form  method="post" id="commentform" class="comment-form" novalidate>
                              <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                              <div class="comment-form-rating">
                                <label for="rating">Your rating</label>
                                <p class="stars"><span><a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a></span></p>
                              </div>
                              <p class="comment-form-comment">
                                <label for="comment">Your review <span class="required">*</span></label>
                                <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required></textarea>
                              </p>
                              <p class="comment-form-author">
                                <label for="author">Name <span class="required">*</span></label>
                                <input id="author" name="author" type="text" value="" size="30" aria-required="true" required />
                              </p>
                              <p class="comment-form-email">
                                <label for="email">Email <span class="required">*</span></label>
                                <input id="email" name="email" type="email" value="" size="30" aria-required="true" required />
                              </p>
                              <p class="form-submit">
                                <input name="submit" type="submit" id="submit" class="submit" value="Submit" />
                                <input type="hidden" name="comment_post_ID" value="3455" id="comment_post_ID" />
                                <input type="hidden" name="comment_parent" id="comment_parent" value="0" />
                              </p>
                            </form>
                          </div>
                          <!-- #respond --> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="clearfix"></div>
                <section class="related products">
                  <h2>Related products</h2>
                  <ul class="products">
                    <li class="product first"> <a href="shop-item.html"> <img src="../dist/images/img/17.jpeg" class="attachment-shop_catalog size-shop_catalog" alt="" />
                      <h2 class="woocommerce-loop-product__title">Round Glasses</h2>
                      <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span></span> </a> </li>
                    <li class="product"> <a href="shop-item.html"> <img src="../dist/images/img/18.jpeg" class="attachment-shop_catalog size-shop_catalog" alt="" />
                      <h2 class="woocommerce-loop-product__title">Curves Glasses</h2>
                      <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>49.00</span></span> </a> </li>
                    <li class="product"> <a href="shop-item.html"> <img src="../dist/images/img/19.jpeg" class="attachment-shop_catalog size-shop_catalog" alt="" />
                      <h2 class="woocommerce-loop-product__title">Signature Glasses</h2>
                      <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>99.00</span></span> </a> </li>
                  </ul>
                </section>
              </div>
              <!-- #product-3455 --> 
              
            </div>
          </div>
        </div>
        <div class="sidebar_area">
          <div id="oi_blog_sb">
            <section id="woocommerce_product_search-2" class="widget woocommerce widget_product_search">
              <h5 class="widget-title">Search Products?</h5>
              <form role="search" method="get" class="woocommerce-product-search">
                <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products&hellip;" value="" name="s" />
                <input type="submit" value="Search" />
                <input type="hidden" name="post_type" value="product" />
              </form>
            </section>
            <section id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
              <h5 class="widget-title">Filter by price</h5>
              <form method="get">
                <div class="price_slider_wrapper">
                  	<input type="text" id="range_slider" name="example_name" value="" data-min="10" data-max="699">
                    <button type="submit" class="button">Filter</button>
                    <div class="price_label">
						Price: <span class="from">$10</span> — <span class="to">$699</span>
					</div>
                    <div class="clear"></div>
                </div>
              </form>
            </section>
            <section id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
              <h5 class="widget-title">Product categories</h5>
              <ul class="product-categories">
                <li class="cat-item"><a href="#">Clothes</a></li>
                <li class="cat-item current-cat"><a href="#">Glasses</a></li>
                <li class="cat-item"><a href="#">Hats</a></li>
                <li class="cat-item"><a href="#">Shoes</a></li>
              </ul>
            </section>
            <section id="woocommerce_top_rated_products-2" class="widget woocommerce widget_top_rated_products">
              <h5 class="widget-title">Top rated products</h5>
              <ul class="product_list_widget">
                <li> <a href="shop-item.html"> <img src="../dist/images/img/4.jpg" class="img-fluid" alt="" /> <span class="product-title">Black-Ice Pullover Hoodie</span> </a>
                  <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                  <span class="amount"><span>&#36;</span>140.00</span></li>
                <li> <a href="shop-item.html"> <img src="../dist/images/img/1.jpg" class="img-fluid" alt="" /> <span class="product-title">Black Snapback</span> </a>
                  <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                  <del><span class="amount"><span>&#36;</span>20.00</span></del> <ins><span class="amount"><span>&#36;</span>10.00</span></ins> </li>
                <li> <a href="shop-item.html"> <img src="../dist/images/img/15.jpeg" class="img-fluid" alt="" /> <span class="product-title">Limited Edition Sneaker</span> </a> <span class="amount"><span>&#36;</span>200.00</span> </li>
              </ul>
            </section>
            <section id="woocommerce_products-2" class="widget woocommerce widget_products">
              <h5 class="widget-title">Featured Products</h5>
              <ul class="product_list_widget">
                <li> <a href="shop-item.html"> <img src="../dist/images/img/5.jpeg" class="img-fluid" alt="" /> <span class="product-title">Wool Blend Scarf</span> </a> <span class="amount"><span>&#36;</span>29.00</span> </li>
                <li> <a href="shop-item.html"> <img src="../dist/images/img/4.jpg" class="img-fluid" alt="" /> <span class="product-title">Black-Ice Pullover Hoodie</span> </a> <span class="amount"><span>&#36;</span>140.00</span></li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- .site-main --> 
</div>
<!-- .content-area -->

{% include "../footer.njk" %}
<script type="text/javascript" src="../dist/js/script.js"></script>
</body>
</html>