.oi_inner_stick_together { margin-left:0px !important; margin-right:0px !important;}
.oi_inner_without_paddings  { padding:0px !important;}
.oi_inner_stick_together .vc_team_member_holder { margin-bottom:0px;}
.oi_inner_stick_together .vc_column_container  .vc_column-inner { padding-left:0px !important; padding-right:0px !important; padding-top:0px !important;}
.oi_inner_stick_together .vc_column_container  .vc_column-inner  .vc_row { margin-left:0px !important; margin-right:0px !important;}
.oi_inner_stick_together .wpb_content_element { margin-bottom:0px;}
.oi_inner_stick_together .oi_strange_portfolio_item { margin:0px;}
.oi_hover_block:hover { background:#f9f9f9}
.oi_inner_without_paddings { margin-left:0 !important; margin-right:0px !important;}
.oi_inner_without_paddings div[class*="vc_col-"] { padding:0px;}
.oi_inner_without_paddings  .oi_strange_portfolio_item { margin:0px;}
.item_height_x2 { height:600px !important; background-size:cover !important; background-position:center center !important}
.item_height_x1 { height:300px !important; background-size:cover !important; background-position:center center !important}
.oi_inner_without_paddings .vc_inner { margin-left:0px !important; margin-right:0px !important;}

.oi_vc_button, .oi_vc_button:hover, .owl-prev i, .owl-next i{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.oi_vc_button.in_contact {
	display:inline-block;
	font-size:12px;
	line-height:12px;
	color:#000;
	background-color:#FFED00;
	padding:10px 20px;
	border-width:1px;
	border-style:solid;
	border-color:#FFED00;
	border-radius:100px;
}


/*CUSTOM HEADING*/
.oi_vc_heading { overflow:hidden;}
.oi_vc_heading .oi_icon_titile { margin-top:0px; margin-bottom:5px;}
.oi_icon_titile.oi_white {color:#fff}
.oi_icon_sub_titile.oi_grey {color:#e0e0e0}
.oi_icon_sub_titile.oi_white {color:#f9f9f9}
.oi_vc_heading .oi_icon_sub_titile { margin-bottom:0px;}
.oi_custom_heading_holder { margin-bottom:20px}
.oi_heading_icon {font-size:24px; line-height:24px; color:#ffffff;}
.oi_heading_icon_left { float:left; margin-right:20px; margin-top:10px;}
.oi_heading_icon_right { float:right; margin-left:20px; margin-top:10px;}
.oi_heading_icon_center { margin-bottom:10px;}
.oi_heading_border { line-height:1px; font-size:1px;}
.oi_heading_border span { display:inline-block; line-height:1px; font-size:1px; height:1px; width:40px; background-color:#000;}
.oi_heading_border .oi_white {background-color:#fff;}
.oi_border_position_top { margin-bottom:17px}
.oi_border_position_center { margin-top:15px; margin-bottom:10px;} 
.oi_border_position_bottom { margin-top:15px;}
.oi_border_position_left { padding-left:20px;}
.oi_border_position_right { padding-right:20px; }
.oi_tesimonial_content.oi_white {color:#fff;}

/*BUTTONS*/
.oi_vc_button:hover { text-decoration:none;}
.oi_vc_button { text-align:center;}
.oi_button_icon_left { margin-right:10px !important; }
.oi_button_icon_right { margin-left:10px !important;}
.oi_vc_button_icon_holder { display:block;}


/*ICONS LIST*/
.oi_icon_list { list-style:none; margin:0px; padding:0px !important}
.no_list_items_margin  h6 { margin-bottom:3px;}
.oi_list_item { display:table; vertical-align:middle; }

.oi_list_item_icon_holder, .oi_list_item_content_holder { display:table-cell; vertical-align:middle;  text-align:left;  }
.oi_icon_right, .oi_icon_center { display:none;}
.oi_icon_list_align_right .oi_list_item_content_holder { text-align:right;}
.oi_icon_list_align_right .oi_list_item_icon_holder { display:none;}
.oi_icon_list_align_right .oi_icon_right {display:table-cell; text-align:right; }
.oi_icon_list_align_center .oi_list_item_icon_holder, .oi_icon_list_align_center .oi_list_item_content_holder  { display:block; text-align:center; width:100%;}
.oi_icon_list_align_center .oi_icon_right, .oi_icon_list_align_center .oi_icon_left { display:none;}
.oi_icon_list_align_center .oi_list_item {  text-align:center; display:block; }
.oi_list_item_content_holder .oi_item_title { margin-top:0px;}
.oi_list_item_content_holder p { margin-bottom:0px;}
.oi_icon_list_align_right { text-align:right !important; float:right !important;}
.oi_icon_list_align_right li { text-align:right !important; }
.oi_list_item_icon_holder.oi_icon_right { text-align:right !important;}
.oi_icon_list_align_right .oi_list_item_content_holder { text-align:right !important; float:right !important;}

/*SIMPLE ICON*/
.oi_simple_icon_center { text-align:center}
.oi_simple_icon_right { text-align:right}



.vc_row { position:relative;}
/*ROW*/
.oi_overlay { 
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: url(http://3nkmkj19nb003e1dgi10tfm3uzs.wpengine.netdna-cdn.com/wp-content/themes/TMBRtwo/public/images/subtle_carbon.png);
  background-image: url(http://3nkmkj19nb003e1dgi10tfm3uzs.wpengine.netdna-cdn.com/wp-content/themes/TMBRtwo/public/images/subtle_carbon.png);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  opacity: 1;
  z-index: 0;
}
.oi_over .wpb_column { z-index:1; }


/*TESTIMONIAL ITEM*/
.oi_testimonial_author_holder  {  margin:0 auto; margin-top:40px; display:inline-table; position: relative;}
.oi_testimonial_content_holder h1,
.oi_testimonial_content_holder h2,
.oi_testimonial_content_holder h3,
.oi_testimonial_content_holder h4,
.oi_testimonial_content_holder h5,
.oi_testimonial_content_holder h6,
.oi_testimonial_content_holder p
{ display:block !important; position: relative; padding:10px 30px; font-weight: 400}

.oi_testimonial_author_holder img { display:table-cell; vertical-align:middle; 
}
.oi_testimonial_author_holder .oi_tesimonial_title { display:table-cell; vertical-align:middle; padding-left:20px; text-align:left;}
.oi_testimonial_author_holder .oi_tesimonial_title.oi_white {color:#fff}

.oi_testimonial_author_holder img { max-height:60px; max-width:60px; border-radius:5px;}
.oi_testimonial_content_holder h3::before {
    content: "“";
    left: 0px;
	display:inline !important;
	font-size:100px;
	position:absolute;
    color: #aec71e;
    margin-top: -20px;
    line-height: 100px;
    margin-left: -20px;
    
}


.oi_testimonial_content_holder h3::after {
    content: "„";
    right: 0px;
	display:inline !important;
	font-size:100px;
	position:absolute;
    color: #aec71e;
    line-height: 100px;
    margin-top: -60px;
    margin-right: -20px;

}
.oi_testimonial_content_holder { padding:0 20px; overflow:visible;  display:block !important}


/*Custom Slider*/
.owl-nav .owl-prev { position:absolute; top:50%; left:0px; }
.owl-nav .owl-next { position:absolute; top:50%; right:0px; }
.owl-item .oi_strange_portfolio_item { margin-bottom:0px;}
.oi_owl_slider { max-width:1600px !important;}


/*Blog items*/
.blog_snipet_slider ul { list-style:none; padding:0px !important; }
.blog_snipet_slider ul li {margin-bottom:25px !important;; background:#f9f9f9;}
.blog_snipet_slider ul li:last-child { margin-bottom:0px; padding-bottom:0px; border:none;}
.vc_latest_news_date { font-size:11px; line-height:16px;}
.blog_snipet_slider a { color:#000;}
.vc_latest_news_a { font-size:13px; color:#000 !important; border-left:1px solid rgba(0,0,0,0.2); padding-left:10px; color:inherit !important;}
.vc_latest_news_a:hover { color:#000; text-decoration:none; color:#000 !important}
.vc_latest_news_a:after { content:'→'; font-size:14px !important; margin-left:10px;}
.img_holder { width:100px !important; height:100px !important; background-size:cover !important; background-position:center center !important;}
.oi_vc_post {display:flex; align-items:center;}
.oi_vc_post .img_holder { margin-right:40px;}
/*MISC*/
.oi_opacity { opacity:0.5}
.oi_full { margin-left:15px !important; margin-right:15px !important; }

/*Pricing Tables*/
.oi_pt_holder { padding:20px; border:5px solid #f1f1f1; background:#fff; border-radius:5px;}
.oi_pt_header { text-align:center;}
.oi_pt_desc { margin-bottom:25px; border-bottom:1px solid #eaeaea; padding-bottom:20px; }
.oi_pt_title { margin:0px;}
.oi_pt_price { font-size:42px; line-height:50px; font-weight:bold; color:#000; position:relative; padding:10px 20px; }
.oi_pr_cur { font-size:24px;  position:absolute; top:0px; left:0px;color:#999; font-weight:normal}
.oi_pr_period {font-size:24px;  position:absolute; bottom:0px; right:-30px; color:#999; font-weight:normal}
.oi_pt_list { margin:0px; padding-right:10px !important; padding-left:10px !important; margin-top:25px !important; display:block; border-top:1px solid #eaeaea; padding-top:25px !important;}
.oi_pt_list .oi_list_item { display:block !important;}
.oi_pt_list .oi_list_item {border-bottom:1px solid #eaeaea !important; padding-bottom:15px !important; margin-bottom:15px !important;}
.oi_pt_list .oi_item_title { margin:0px;}
.oi_pt_featured { margin-top:-25px !important; margin-bottom:-25px; padding: 50px 20px; }

/*Progress Bar*/
.oi_progress { border-radius:0px !important; box-shadow:none; height:10px; background-color:#eaeaea; text-align:left !important;}
.oi_progress .progress-bar {text-align:left !important; padding-left:15px; display:table}

.oi_progress .progress-bar span { display:table-cell; vertical-align:middle; font-size:13px !important; }
.oi_progress_value {position:absolute; top:-22px; text-align:right; font-size:11px; color:#000; left:1px;}


/*Team Members*/

.vc_team_member_holder h3 { margin-bottom:-4px !important; font-weight:normal !important; margin-top:10px;}
.vc_team_member_holder h5 { margin-bottom:10px !important; color:#333; margin-top:10px;}
.vc_team_member_holder { background:#fff; margin-bottom:30px;}
.oi_cont_holder { padding:15px; background:#f3f3ef}
.oi_cont_holder h6 { font-size:10px; opacity:0.6}
.oi_team_cont { margin-top:20px;}

.vc_team_member_image_holder { position:relative; overflow:hidden;}
.vc_team_member_holder .oi_team_cont_holder {
	opacity:0;
	position:absolute;
	display:block;
	visibility:hidden;
	padding:20px;
	bottom:0;
	left:0;
	right:0;
	background-color:#000;
	text-align:center;
	width:100%;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
	-webkit-backface-visibility: hidden; /* fix for twitch*/
	backface-visibility:hidden; /* fix for twitch*/
}
.inner_img_holder { text-align:center;}
.vc_team_member_image_holder:hover .oi_team_cont_holder {
	opacity:1;
	visibility:visible;
}
.oi_icons a {
	margin-top:20px;
	color:#fff;
	display:inline-block;
	background-position:center;
	background-repeat:no-repeat;
	width:30px !important;
	height:30px !important;
	-webkit-backface-visibility: hidden; /* fix for twitch*/
	zoom:1;
	margin-left:-1px;
	visibility:hidden;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
	opacity:0;
}
.vc_team_member_image_holder:hover .oi_icons a {
	visibility:visible;
	opacity:1;
	-webkit-transition: all 0.2s .1s linear;
    -moz-transition: all 0.2s .1s linear;
    -ms-transition: all 0.2s .1s linear;
    -o-transition: all 0.2s .1s linear;
    transition: all 0.2s .1s linear;
	-webkit-backface-visibility: hidden; /* fix for twitch*/
	backface-visibility:hidden; /* fix for twitch*/
	
}
.oi_mask h5{
	opacity:0;
	margin-bottom:30px !important;
	margin-top:-40px;
	display:block;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
	-webkit-backface-visibility: hidden; /* fix for twitch*/
	backface-visibility:hidden; /* fix for twitch*/
}
.vc_team_member_image_holder:hover .oi_mask h5, .oi_mask_holder, .oi_contact_block i
{ opacity:1;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
	-webkit-backface-visibility: hidden; /* fix for twitch*/
	backface-visibility:hidden; /* fix for twitch*/
	}
.oi_mask h5 span { display:inline-block;  background:#fff; padding:5px; border-radius:4px;}
.oi_icons a:hover { opacity:1 !important;}

.vc_team_member_holder .oi_mask_holder { position:relative;}
.oi_team_cont_holder h6 strong { margin-bottom:0px; color:#fff !important; text-transform:uppercase;}
.vc_team_member_holder { position:relative;}

.oi_team_cont_holder  .oi_icons .fa {color: #fff; opacity: 0.8; border-bottom: 0;}
.oi_team_cont_holder  .oi_icons a {box-shadow: none;}
.oi_team_cont_holder  .oi_icons a:hover .fa {opacity: 1}

/*Tabs*/
.vc_tta-color-grey .vc_tta-title-text { color:#000}
h4.vc_tta-panel-title { font-size:16px !important}
.oi_big_icons i { display:block !important; font-size:32px !important; color:#000}
.oi_big_icons .vc_tta-title-text { margin-left:0px !important; margin-top:20px !important; display:block !important}


/*Contact Block*/
.oi_contact_block { display:block; text-align:center;}
.oi_contact_block i { font-size:100px; }
.oi_contact_block { color:#fff}
.oi_contact_block_holder { overflow:hidden;}
.oi_contact_block:hover i { text-decoration:none; font-size:140px; color:#fff}
.oi_tringle {
	position:absolute; left:0px !important; top:50% !important; margin-top:-50px !important;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 0 50px 50px;
	border-color: transparent transparent transparent #ffffff
}


.mail-box {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px;
  border-radius: 25px 25px 0 0;
  width: 150px;
  height: 75px;
  background-color: #666;
  margin: 0 auto;
  position: relative;
}
.mail-box:before, .mail-box:after {
  content: '';
  display: block;
  position: absolute;
}
.mail-box:before {
  -moz-border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px;
  border-radius: 25px 25px 0 0;
  background-color: #999;
  width: 50px;
  left: 0;
  height: 100%;
}
.mail-box:after {
  width: 8px;
  height: 200%;
  left: 50%;
  bottom: -200%;
  margin-left: -4px;
  background-color: #000;
}

.flag {
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  width: 8px;
  height: 100%;
  margin: -25% auto 0 auto;
  background-color: #B99D61;
  position: relative;
}
.flag:before, .flag:after {
  content: '';
  display: block;
  position: absolute;
}
.flag:before {
  background-color: inherit;
  width: 32px;
  left: 0;
  top: 0;
  height: 16px;
}
.flag:after {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #666;
  border: 8px solid #B99D61;
  width: 24px;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  bottom: -12px;
}

.shoping_cart_icon a:hover i, a:hover, .page_title, .oi_c_title a:hover, .entry-header h3 a:hover, .enty-meta > span a:hover, #sidebar .widget a:hover, #sidebar-left .widget a:hover, .footer a:hover, .footer a, #pp-nav .active span, .social-menu a:hover, .social-menu a:hover i, .social-menu a:hover .fa, .oi_testimonial_content_holder h3:before, .oi_testimonial_content_holder h3:after {
    color: #0086df;
}

@-webkit-keyframes mailBoxUp {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0, 90px, 0);
    -ms-transform: translate3d(0, 90px, 0);
    -webkit-transform: translate3d(0, 90px, 0);
    transform: translate3d(0, 90px, 0);
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes mailBoxUp {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0, 90px, 0);
    -ms-transform: translate3d(0, 90px, 0);
    -webkit-transform: translate3d(0, 90px, 0);
    transform: translate3d(0, 90px, 0);
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes flagSpin {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes flagSpin {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.oi_contact_block_holder:hover .mail-box {
  animation: mailBoxUp 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation: mailBoxUp 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.oi_contact_block_holder:hover .flag {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: flagSpin 500ms 250ms backwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation: flagSpin 500ms 250ms backwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
