.page_featured {
	background-image:url('../images/img/authentic-demo-image-130.jpg')
}
.page_featured .page_description_over {
	background: #000;
	opacity:0.7;
}
.contact-1 {
	padding-bottom: 30px ;
	background-color: #f8f7f2 ;
}
.contact-1-1 {
	 background-color:transparent;
}
#map {
	height:600px;
}