.page_featured {
	background-image:url('../images/img/business1.jpg');
	margin-bottom: 60px;
}
.page_featured .page_description_over {
	background: #000;
	opacity: 0.7;
}
.mb-20 {
	margin-bottom:20px;
}
.mb-30 {
	margin-bottom:30px;
}
.mb-40 {
	margin-bottom:40px;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
.oi_heading_icon {
	font-size:24px;
	line-height:24px;
	color:#000;
}
.oi_heading_border span {
	text-align:center;
	width:100px;
	border-top:1px solid #d8d8d8;
}
.bpost-audio {
	margin-bottom: 40px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-image:url('../images/img/imagenes-de-Metallica-en-hd13.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}