.page_featured {
	background-image:url('../images/img/room-with-navy-blue-armchair-P4556GF.jpg')
}
.page_featured .page_description_over {
	background: #000;
	opacity:0.5;
}
.shop-tabs.nav-tabs {
	border-bottom:none;
	border-top: 1px solid #eaeaea;
}
.shop-tabs .nav-item {
    background: #fff;
    margin: 0px;
    margin-right: 15px;
	font-weight: normal;
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
	display: inline-block;
	padding:0;
    padding-top: 0.5em;
    text-decoration: none;
}
.shop-tabs .nav-item:hover {
	border-color:transparent;
}
.shop-tabs .nav-item.active {
    color: #D42840;
	border:none;
    border-bottom: 1px solid #D42840;
}
.shop-tabs .tab-pane h2 {
	font-size: 20px !important;
    margin-bottom: 20px;
	margin-top:20px;
}